.popup-window {
	background-color: #fff;
	box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
	padding: 10px;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.popup-window.popup-window-with-titlebar {
	padding: 0 10px 10px;
}

.popup-window.popup-window-no-paddings,
.popup-window.popup-window-no-paddings .popup-window-content {
	padding: 0;
}

.popup-window-delimiter {
	background-color: #f0f1f2;
	display:block;
	height:1px;
	line-height:1px;
}

.popup-window-buttons {
	text-align: center;
	padding: 20px 0 10px;
	position: relative;
}

.popup-window-button:last-child {
	margin-right: 0;
}

.popup-window-button {
	margin: 0 2px 0 3px;
	font: normal normal normal 13px/24px Arial, Helvetica, sans-serif;
}

.popup-window-button,
.popup-window-button:before,
.popup-window-button:after {
	display: inline-block;
	cursor:pointer;
	content: '';
	vertical-align: top;
	height:25px;
	line-height:25px;
}


.popup-window-button  {
	background: url(../images/controls-sprite.png%3F2) repeat-x 0 -551px;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.06);
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.06);
	color: #000;
}

.popup-window-button:before {
	background: url(../images/controls-sprite.png%3F2) no-repeat -15px -493px;
	border-radius: 4px 0 0 4px;
	margin-right: 8px;
	width:4px;
}

.popup-window-button:after {
	border-radius: 0 4px 4px 0;
	margin-left: 8px;
}

.popup-window-button:after {
	background: url(../images/controls-sprite.png%3F2) no-repeat -22px -493px;
	width:4px;
}
.popup-window-button:hover { background: url(../images/controls-sprite.png%3F2) repeat-x 0 -985px; }
.popup-window-button:hover:before { background: url(../images/controls-sprite.png%3F2) no-repeat -15px -927px; }
.popup-window-button:hover:after { background: url(../images/controls-sprite.png%3F2) no-repeat -22px -927px; }


.popup-window-button-accept,
.popup-window-button-create {
	background: url(../images/controls-sprite.png%3F2) repeat-x 0 -356px;
	color: #fff;
	text-shadow: #75ab6f -1px -1px 0;
}
.popup-window-button-accept:before,
.popup-window-button-create:before { background: url(../images/controls-sprite.png%3F2) no-repeat 0 -328px;}
.popup-window-button-accept:after,
.popup-window-button-create:after {  background: url(../images/controls-sprite.png%3F2) no-repeat -6px -328px;}
.popup-window-button-accept:hover,
.popup-window-button-create:hover { background: url(../images/controls-sprite.png%3F2) repeat-x 0 -1044px; }
.popup-window-button-accept:hover:before,
.popup-window-button-create:hover:before { background: url(../images/controls-sprite.png%3F2) no-repeat 0 -1016px; }
.popup-window-button-accept:hover:after,
.popup-window-button-create:hover:after { background: url(../images/controls-sprite.png%3F2) no-repeat -6px -1016px; }


.popup-window-button-wait {
	color: transparent !important;
	position: relative;
}

.popup-window-button-wait .popup-window-button-text {
	opacity: 0;
}
.popup-window-button-wait:before {
	background: none !important;
	box-shadow: inset 0 0 0 1px #fff;
	border-radius: 50%;
	color: #fff;
	display: block !important;
	content: '_' !important;
	font-size: 10px;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 10px;
	height: 21px;
	top: 10px;
	left: 50%;
	margin:0 0 0 -11px;
	padding-right: 6px;
	position: absolute;
	text-align: right;
	width: 15px;
}
.popup-window-button-wait:after{
	background: #fff !important;
	content: ' ' !important;
	display: block !important;
	height: 7px;
	margin: 0 0 0 -1px;
	position: absolute;
	top: 14px;
	left: 50%;
	padding: 0;
	width:1px;
	-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
	-webkit-animation: clock 1s infinite linear;
			animation: clock 1s infinite linear;
}

.popup-window-button-create.popup-window-button-wait:before,
.popup-window-button-accept.popup-window-button-wait:before{
	color: #535c69;
	-webkit-box-shadow: inset 0 0 0 1px #535c69;
			box-shadow: inset 0 0 0 1px #535c69;
}

.popup-window-button-create.popup-window-button-wait:after,
.popup-window-button-accept.popup-window-button-wait:after{
	background: #535c69 !important;
}
@-webkit-keyframes clock {
	0%   { -webkit-transform: rotate(0deg) }
	50%  { -webkit-transform: rotate(180deg) }
	100% { -webkit-transform: rotate(360deg) }

	0%   { transform: rotate(0deg);  margin-left: -1px;}
	50%  { transform: rotate(180deg);margin-left: 0;}
	100% { transform: rotate(360deg);margin-left: -1px;}
}

@keyframes clock {
	0%   {transform: rotate(0deg);   margin-left: -1px;}
	50%  { transform: rotate(180deg);margin-left: 0;}
	100% { transform: rotate(360deg);margin-left: -1px;}
}

.bx-ie8 .popup-window-button-wait {
	/*color: inherit !important;*/
}

.bx-ie8 .popup-window-button-wait:before,
.bx-ie8 .popup-window-button-wait:after{
	display: none!important;
}



.popup-window-button-decline  {
	background: url(../images/controls-sprite.png%3F2) repeat-x 0 -522px;
	color: #fff;
	text-shadow: #e15252 -1px -1px 0;
}
.popup-window-button-decline:before { background: url(../images/controls-sprite.png%3F2) no-repeat 0 -493px; }
.popup-window-button-decline:after { background: url(../images/controls-sprite.png%3F2) no-repeat -4px -493px;}

.popup-window-button-decline:hover { background: url(../images/controls-sprite.png%3F2) repeat-x 0 -956px; }
.popup-window-button-decline:hover:before { background: url(../images/controls-sprite.png%3F2) no-repeat 0 -927px; }
.popup-window-button-decline:hover:after { background: url(../images/controls-sprite.png%3F2) no-repeat -4px -927px; }

.popup-window-button-cancel {color: #d83e3e; font-weight: bold;}

.popup-window-button-link {
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
	text-decoration: underline;
}
.popup-window-button-link,
.popup-window-button-link:hover {background: none;}
.popup-window-button-link:before,
.popup-window-button-link:after {display: none;}
span.popup-window-button-link-cancel { color: #d83e3e;}

.popup-window-button-disable {
	cursor: default;
	opacity: 0.3;
}

.popup-window-button-disable:hover {
	background: url("../images/controls-sprite.png%3F2") repeat-x 0 -551px;
	cursor: default;
}

.popup-window-button-disable:hover .popup-window-button:before {
	background: url("../images/controls-sprite.png%3F2") no-repeat -15px -493px;
	cursor: default;
}

.popup-window-button-disable:hover .popup-window-button:after {
	background: url("../images/controls-sprite.png%3F2") no-repeat -22px -493px;
	cursor: default;
}

.popup-window-titlebar {
	height: 49px;
}

.popup-window-titlebar-text {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #80868e;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	max-width: 100%;
	line-height: 49px;
	overflow: hidden;
	padding: 0 10px;
	text-overflow: ellipsis;
}

.popup-window-content {
	background-color: #fff;
}

.popup-window-with-titlebar .popup-window-content,
.popup-window-content-gray .popup-window-content {
	background-color: #eef2f4;
}

.popup-window-content-white .popup-window-content {
	background-color: #ffffff;
}

.popup-window-with-titlebar .popup-window-content {
	padding: 20px;
}

.popup-window-content-no-paddings .popup-window-content {
	padding: 0;
}

.popup-window-close-icon {
	background: url(../images/controls-sprite.png%3F2) no-repeat -3px -122px;
	cursor:pointer;
	height: 27px;
	outline: none;
	opacity: 0.45;
	position:absolute;
	right: 0;
	top: 0;
	width: 27px;

	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.popup-window-titlebar-close-icon {
	top: 11px;
	right: 10px;
}

.popup-window-close-icon:hover {
	opacity: 1;
}

.popup-window-angly {
	display:none;
	height: 22px;
	position: absolute;
	overflow: hidden;
	width: 33px;
}

.popup-window-angly:before {
	background-color : #fff;
	-webkit-box-shadow: 0 0 21px rgba(83, 92, 105, .13);
	box-shadow: 0 0 21px rgba(83, 92, 105, .13);
	content: '';
	height: 15px;
	position: absolute;
	left: 9px;
	top: 16px;
	transform: rotate(45deg);
	transform-origin: 50% 50%;
	width: 15px;
}

.popup-window-angly-top {
	display:block;
	left:10px;
	margin:0;
	top:-22px;
}

.popup-window-angly-top:before {}

.popup-window-angly-right {
	display:block;
	right: -17px;
	top: 10px;
	height: 30px;
	width: 17px;
}

.popup-window-angly-right::before {
	left: -9px;
	top: 8px;
}

.popup-window-angly-bottom {
	bottom: -20px;
	display:block;
	height: 20px;
	margin-left: 10px;
}

.popup-window-angly-bottom::before {
	top: -9px;
}

.popup-window-angly-left {
	display:block;
	left: -14px;
	top: 10px;
	height: 30px;
	width: 14px;
}

.popup-window-angly-left::before {
	left: 8px;
	top: 8px;
}

.popup-window-overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: #333;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

/* Menu Popup */
.menu-popup {
	padding: 8px 0;
}
.menu-popup-title { margin: 0 0 7px 0; padding: 0 0 0 4px; color:#4c4c4c;  white-space:nowrap; font:normal normal normal 12px/normal Arial, Helvetica, sans-serif; }

.menu-popup .menu-popup-item {
	background-color: transparent;
	display:block;
	cursor:pointer;
	height: 36px;
	position:relative;
	text-decoration:none;
	outline: none;
	white-space: nowrap;

	-webkit-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

.menu-popup-item-icon {
	display: inline-block;
	height: 16px;
	margin-left: 11px;
	vertical-align:middle;
	width: 19px;
}

.menu-popup-item-text {
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c68;
	line-height: 36px;
	padding: 0 15px 0 9px;
	text-decoration:none;
	vertical-align: middle;

	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.menu-popup-no-icon .menu-popup-item-text {
	padding: 0 15px;
}

.menu-popup-item:hover{
	background-color: #f6f8f9;
}
.menu-popup-item:hover .menu-popup-item-text {
	color: #3b434f;
}

.bx-admin-submenu-opened { background: #f0f0f0 !important; -webkit-border-radius: 3px; border-radius: 3px; }

.menu-popup-no-icon .menu-popup-item-icon {display: none; }
.menu-popup-item-view .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -45px -271px transparent; }
.menu-popup-item-edit .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -43px -291px transparent; }
.menu-popup-item-create .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -44px -311px transparent; }
.menu-popup-item-create-quick .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -43px -329px transparent; }
.menu-popup-item-take .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -43px -347px transparent; }
.menu-popup-item-begin .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -44px -367px transparent; }
.menu-popup-item-decline .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -44px -383px transparent; }
.menu-popup-item-reopen .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -42px -484px transparent; }
.menu-popup-item-complete .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -42px -502px transparent; }
.menu-popup-item-hold .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -44px -520px transparent; }
.menu-popup-item-accept .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -43px -347px transparent; }
.menu-popup-item-remake .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -44px -383px transparent; }
.menu-popup-item-delete .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -44px -535px transparent; }
.menu-popup-item-copy .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -42px -595px transparent; }
.menu-popup-item-delegate .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -42px -615px transparent; }
.menu-popup-item-add-to-tm .menu-popup-item-icon { background: url(../images/popup/popup-menu-sprite.2.png) no-repeat scroll -42px -634px transparent; }

.popup-window-button-left,
.popup-window-button-right {
	display: none;
}

/* ========Popup Window Darken==========*/
.popup-window-dark {
	background-color: rgba(0,0,0, 0.8);
	/*padding: 7px 7px 5px 7px;*/
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17);
}

.popup-window-dark .popup-window-content {
	background-color: transparent;
	color: #fff;
	margin: 0;
}

.popup-window-dark .popup-window-angly:before {
	background-color: rgba(0,0,0, 0.8);
}

.popup-window-dark .popup-window-hr {
	display:none;
}

.popup-window-dark .popup-window-button-link {
	color: #fff;
}

.popup-window-dark .popup-window-titlebar {
	font: 13px/32px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 0;
    vertical-align: top;
	margin-right: 0;
	padding-left: 8px;
}

.popup-window-dark .popup-window-titlebar .popup-window-content {
	padding-top: 9px;
}

.popup-window-dark .popup-window-buttons { padding:  0; margin: 4px 8px 6px; text-align: center; position: relative; zoom:1;}
.popup-window-dark .popup-window-button { margin: 0 10px 0 0; }
.popup-window-dark .popup-window-button,
.popup-window-dark .popup-window-button .popup-window-button-left,
.popup-window-dark .popup-window-button .popup-window-button-right,
.popup-window-dark .popup-window-button .popup-window-button-text { display: inline-block; vertical-align: top; height:28px; line-height:28px; cursor:pointer;}
.popup-window-dark .popup-window-button-text {  font: normal normal normal 13px/26px "Helvetica Neue", Helvetica, Arial, sans-serif; padding:0 8px;  }

.popup-window-dark .popup-window-button  {  background: url(../images/popup/popup-dark-buttons-sprite.png) repeat-x 0 -216px;  }
.popup-window-dark .popup-window-button-text { background: none; color: #7a808c; text-shadow: #fff 0 1px 0;}
.popup-window-dark .popup-window-button-left { width: 3px; position: relative; left: -3px; background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -38px 0; }
.popup-window-dark .popup-window-button-right { width: 3px; position: relative; left: 3px; background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -41px 0;}
.popup-window-dark .popup-window-button:hover { background: url(../images/popup/popup-dark-buttons-sprite.png) repeat-x 0 -249px; }
.popup-window-dark .popup-window-button:hover .popup-window-button-text { background: none; }
.popup-window-dark .popup-window-button:hover .popup-window-button-left { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -45px 0; }
.popup-window-dark .popup-window-button:hover .popup-window-button-right { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -48px 0; }
.popup-window-dark .popup-window-button:active { background: url(../images/popup/popup-dark-buttons-sprite.png) repeat-x 0 -283px; }
.popup-window-dark .popup-window-button:active .popup-window-button-text { background: none; }
.popup-window-dark .popup-window-button:active .popup-window-button-left { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -51px 0; }
.popup-window-dark .popup-window-button:active .popup-window-button-right { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -54px 0; }


.popup-window-dark .popup-window-button-accept,
.popup-window-dark .popup-window-button-create { background: url(../images/popup/popup-dark-buttons-sprite.png) repeat-x 0 -34px; }
.popup-window-dark .popup-window-button-accept .popup-window-button-text,
.popup-window-dark .popup-window-button-create .popup-window-button-text { background: none; color: #fff; text-shadow: #688b09 0 -1px 0; }
.popup-window-dark .popup-window-button-accept .popup-window-button-left,
.popup-window-dark .popup-window-button-create .popup-window-button-left {  background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat 0 0;}
.popup-window-dark .popup-window-button-accept .popup-window-button-right,
.popup-window-dark .popup-window-button-create .popup-window-button-right {  background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -3px 0;}
.popup-window-dark .popup-window-button-accept:hover,
.popup-window-dark .popup-window-button-create:hover { background: url(../images/popup/popup-dark-buttons-sprite.png) repeat-x 0 -64px;  }
.popup-window-dark .popup-window-button-accept:hover .popup-window-button-text,
.popup-window-dark .popup-window-button-create:hover .popup-window-button-text { background: none; text-shadow: #7caa02 0 -1px 0 }
.popup-window-dark .popup-window-button-accept:hover .popup-window-button-left,
.popup-window-dark .popup-window-button-create:hover .popup-window-button-left { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -7px 0; }
.popup-window-dark .popup-window-button-accept:hover .popup-window-button-right,
.popup-window-dark .popup-window-button-create:hover .popup-window-button-right { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -10px 0; }
.popup-window-dark .popup-window-button-accept:active,
.popup-window-dark .popup-window-button-create:active { background: url(../images/popup/popup-dark-buttons-sprite.png) repeat-x 0 -94px;  }
.popup-window-dark .popup-window-button-accept:active .popup-window-button-text,
.popup-window-dark .popup-window-button-create:active .popup-window-button-text { background: none; text-shadow: #688b09 0 -1px 0 }
.popup-window-dark .popup-window-button-accept:active .popup-window-button-left,
.popup-window-dark .popup-window-button-create:active .popup-window-button-left { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -13px 0; }
.popup-window-dark .popup-window-button-accept:active .popup-window-button-right,
.popup-window-dark .popup-window-button-create:active .popup-window-button-right { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -16px 0; }

.popup-window-dark .popup-window-button-decline  { background: url(../images/popup/popup-dark-buttons-sprite.png) repeat-x 0 -123px; }
.popup-window-dark .popup-window-button-decline .popup-window-button-text { background: none; text-shadow: #921f1f 0 -1px 0; color: #fff;}
.popup-window-dark .popup-window-button-decline .popup-window-button-left { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -19px 0; }
.popup-window-dark .popup-window-button-decline .popup-window-button-right { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -22px 0;}
.popup-window-dark .popup-window-button-decline:hover { background: url(../images/popup/popup-dark-buttons-sprite.png) repeat-x 0 -154px; }
.popup-window-dark .popup-window-button-decline:hover .popup-window-button-text{ background: none; text-shadow: #ba3a3a 0 -1px 0;}
.popup-window-dark .popup-window-button-decline:hover .popup-window-button-left { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -26px 0; }
.popup-window-dark .popup-window-button-decline:hover .popup-window-button-right { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -29px 0; }
.popup-window-dark .popup-window-button-decline:active { background: url(../images/popup/popup-dark-buttons-sprite.png) repeat-x 0 -185px; }
.popup-window-dark .popup-window-button-decline:active .popup-window-button-text {  background: none; text-shadow: #800e0e 0 -1px 0;}
.popup-window-dark .popup-window-button-decline:active .popup-window-button-left { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -32px 0; }
.popup-window-dark .popup-window-button-decline:active .popup-window-button-right { background: url(../images/popup/popup-dark-buttons-sprite.png) no-repeat -35px 0; }

.popup-window-dark .popup-window-button-cancel .popup-window-button-text { color: #d83e3e; font-weight: bold; }

.popup-window-dark .popup-window-button-link,
.popup-window-dark .popup-window-button-link:hover { background: none; }
.popup-window-dark .popup-window-button-link { cursor: pointer; }
.popup-window-dark .popup-window-button-link-cancel .popup-window-button-link { color: #d83e3e; text-decoration: underline;}
.popup-window-dark .popup-window-button-link-cancel { background: none; }

.popup-window-dark .popup-window-bottom-row,
.popup-window-dark .popup-window-bottom-row .popup-window-left-column,
.popup-window-dark .popup-window-bottom-row .popup-window-center-column,
.popup-window-dark .popup-window-bottom-row .popup-window-right-column { height: 5px; background: none; }

.popup-window-dark .popup-window-left-column {width: 7px; min-width: 7px;  padding: 0; text-align: left; background: none !important; }
.popup-window-dark .popup-window-right-column {width: 7px; min-width: 7px;  padding: 0; text-align: left; background: none !important; }
.popup-window-dark .popup-window-center-column { padding: 0; text-align: left; background: none !important; }
.popup-window-dark .popup-window-left-spacer { width: 7px; height: 1px; font-size: 1px; }
.popup-window-dark .popup-window-right-spacer { width: 7px; height: 1px; font-size: 1px; }

.popup-window-dark .popup-window-close-icon {  margin-top: 0px; background: url("../images/popup/popup-dark-sprite.png") -21px -7px; }
.popup-window-dark .popup-window-close-icon:hover{  background: url("../images/popup/popup-dark-sprite.png") -7px -7px;}

.popup-window-dark .popup-window-titlebar-close-icon {margin-top: 5px; background: url("../images/popup/popup-dark-sprite.png") -7px -20px; }
.popup-window-dark .popup-window-titlebar-close-icon:hover{  background: url("../images/popup/popup-dark-sprite.png") -20px -20px;}

/*===========TABS==========*/
.popup-window-tabs-box {
	padding: 10px 0 4px;
}

.popup-window-tabs {
	position: relative;
	padding: 0 20px 0 0;
	margin: 0;
	height: 42px;
	font-size: 0;
	z-index:1;
}

.popup-window-tab {
	display: inline-block;
	height: 42px;
	margin: 0 7px 0 0;
	padding: 0 12px;
	border: none;
	vertical-align: top;
	font-size: 14px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 41px;
	color: #535c69;
	background-color: #ecf2f3;
	text-shadow: none;
	cursor: pointer;
	-webkit-transition: background-color 0.15s linear;
	transition: background-color 0.15s linear;
}

.popup-window-tab:hover {
	background-color: #f7f9f9;
}

.popup-window-tab-selected {
	position: relative;
	z-index: 2;
	padding: 0 11px;
	background-color: #fff !important;

	line-height: 40px;

	border-radius: 2px 2px 0 0;
	border: 1px solid #c6cdd3;
	border-bottom: none;

	cursor: default;
}

.popup-window-tabs-content {
	margin: 0;
	padding: 10px;
	border: 1px solid #c6cdd3;
	border-radius: 0 3px 3px;
}

.popup-window-tab-content {
	display: none;
	padding: 20px;
	background: #eef2f4;
}

.popup-window-tabs-content-white .popup-window-tab-content {
	padding: 10px;
	background: #fff;
}

.popup-window-tab-content-selected {
	display: block;
}


/*===========BUTTONS=======*/

#bx-admin-prefix .popup-window-button .popup-window-button-left,
#bx-admin-prefix .popup-window-button .popup-window-button-left,
#bx-admin-prefix .popup-window-button:before,
#bx-admin-prefix .popup-window-button:after {
	display : none;
}

#bx-admin-prefix .popup-window-button,
#bx-admin-prefix .popup-window-button-link  {
	display: inline-block;
	vertical-align: top;
	height: 25px;
	line-height: 27px;
	cursor: pointer;
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	text-decoration: inherit;
}

#bx-admin-prefix .popup-window-button:hover {
	text-decoration: none;
	background:#f3f6f7!important;
	background-image: -webkit-linear-gradient(top, #f8f8f9, #f2f6f8)!important;
	background-image: linear-gradient(to bottom, #f8f8f9, #f2f6f8)!important;
}

#bx-admin-prefix .popup-window-button {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border:none;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.3), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	box-shadow: 0 0 1px rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.3), inset 0 1px 0 #fff, inset 0 0 1px rgba(255,255,255,.5);
	background-color: #e0e9ec;
	background-image: -webkit-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: linear-gradient(to top, #d7e3e7, #fff)!important;
	color:#3f4b54;
	cursor:pointer;
	display:inline-block;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	height: 27px;
	line-height: 27px;
	text-shadow:0 1px rgba(255,255,255,0.7);
	text-decoration:none;
	position:relative;
	vertical-align:middle;
	-webkit-font-smoothing: antialiased;
	padding: 0 13px 2px;
	margin-right: 10px;
}

#bx-admin-prefix .popup-window-button:active {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #b7c4c9!important;
	-webkit-box-shadow: inset 0 1px 1px 1px rgba(103,109,123,.78);
	box-shadow: inset 0 1px 1px 1px rgba(103,109,123,.78);
	background-image: -webkit-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	background-image: linear-gradient(to bottom, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	border-top:transparent;
	height: 27px;
	outline:none;
	padding:1px 13px 1px;
}

#bx-admin-prefix .popup-window-button-accept,
#bx-admin-prefix .popup-window-button-create
 {
	background-color: #86ad00!important;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.25), inset 0 1px 0 #cbdc00;
	box-shadow: 0 1px 1px rgba(0,0,0,.25), inset 0 1px 0 #cbdc00;
	border: solid 1px;
	border-color:#97c004 #7ea502 #648900;
	background-image: -webkit-linear-gradient(bottom, #729e00, #97ba00)!important;
	background-image: linear-gradient(to top, #729e00, #97ba00)!important;
	color:#fff;
	text-shadow:0 1px rgba(0,0,0,0.1);
	-webkit-font-smoothing: antialiased;
}

#bx-admin-prefix .popup-window-button.popup-window-button-accept:hover,
#bx-admin-prefix .popup-window-button.popup-window-button-create:hover
{
	background-color:#9ec710!important;
	background-image: -webkit-linear-gradient(top, #acce11, #8abb0d)!important;
	background-image: linear-gradient(to bottom, #acce11, #8abb0d)!important;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 #d5e71a inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 #d5e71a inset;
	border-color:#97c004 #7ea502 #648900;
	text-decoration:none;
}

#bx-admin-prefix .popup-window-button.popup-window-button-accept:active,
#bx-admin-prefix .popup-window-button.popup-window-button-create:active
{
	background:#698f00!important;
	-webkit-box-shadow: inset 0 2px 1px rgba(66,84,17,.71)!important;
	box-shadow: inset 0 2px 1px rgba(66,84,17,.71) !important;
	border-color:transparent #698f00 #698f00 !important;
	border-top:none;
	padding:2px 13px 1px!important;
}

/*===========================================================IE BUTTONS========================================================================*/
.bx-ie8 #bx-admin-prefix .popup-window-button,
.bx-ie9 #bx-admin-prefix .popup-window-button {
	border-radius:4px;
	background:url(../../../../panel/main/images/bx-admin-sprite-small-2.png) repeat-x 0 -3554px;
	box-shadow:0 0 0 1px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0 #FFFFFF inset, 0 0 1px rgba(255, 255, 255, 0.5) inset !important;
}

.bx-ie8 #bx-admin-prefix .popup-window-button {border:1px solid #959c9d !important;}
.bx-ie8 #bx-admin-prefix .popup-window-button:hover {background:#f5f5f5!important; }
.bx-ie8 #bx-admin-prefix .popup-window-button,
.bx-ie9 #bx-admin-prefix .popup-window-button,
.bx-ie8 #bx-admin-prefix .popup-window-button:active,
.bx-ie9 #bx-admin-prefix .popup-window-button:active {
	height:19px!important;
	line-height:19px!important;
	padding-top:6px!important;
	padding-bottom:4px!important;
}
.bx-ie8 #bx-admin-prefix .popup-window-button-accept,
.bx-ie8 #bx-admin-prefix .popup-window-button-create,
.bx-ie9 #bx-admin-prefix .popup-window-button-accept,
.bx-ie9 #bx-admin-prefix .popup-window-button-create
{
	background:url(../../../../panel/main/images/bx-admin-sprite-small-2.png) repeat-x 0 -3658px!important;
	border-top:1px solid #a4c926 !important;
	border-bottom:1px solid #73991a !important;
	border-left:1px solid #74991a !important;
	border-right:1px solid #74991a !important;
	box-shadow:none!important;
}

.bx-ie8 #bx-admin-prefix .popup-window-button-accept,
.bx-ie8 #bx-admin-prefix .popup-window-button-create,
.bx-ie9 #bx-admin-prefix .popup-window-button-accept,
.bx-ie9 #bx-admin-prefix .popup-window-button-create {
	height:17px!important;
	line-height:17px!important;
	padding-top:5px!important;
	padding-bottom:5px!important;
}

.bx-ie8 #bx-admin-prefix .popup-window-button-accept:hover,
.bx-ie8 #bx-admin-prefix .popup-window-button-create:hover,
.bx-ie9 #bx-admin-prefix .popup-window-button-accept:hover,
.bx-ie9 #bx-admin-prefix .popup-window-button-create:hover
{
	background:url(../../../../panel/main/images/bx-admin-sprite-small-2.png) repeat-x 0 -3692px !important;
	box-shadow: none!important;
	border-top:1px solid #97c004 !important;
	border-bottom:1px solid #648900 !important;
	border-left:1px solid #74991a !important;
	border-right:1px solid #74991a !important;
	text-decoration:none;
}

.bx-ie8 #bx-admin-prefix span.popup-window-button-accept:hover,
.bx-ie8 #bx-admin-prefix span.popup-window-button-create:hover,
.bx-ie9 #bx-admin-prefix span.popup-window-button-accept:hover,
.bx-ie9 #bx-admin-prefix span.popup-window-button-create:hover {
	height:17px!important;
	padding-top:5px!important;
	padding-bottom:5px!important;
}

.bx-ie8 #bx-admin-prefix .popup-window-button-accept:active,
.bx-ie8 #bx-admin-prefix .popup-window-button-create:active,
.bx-ie9 #bx-admin-prefix .popup-window-button-accept:active,
.bx-ie9 #bx-admin-prefix .popup-window-button-create:active {
	background:url(../../../../panel/main/images/bx-admin-sprite-small-2.png) repeat-x 0 -3692px !important;
	box-shadow: none!important;
	border-top:1px solid #97c004 !important;
	border-bottom:1px solid #648900 !important;
	border-left:1px solid #74991a !important;
	border-right:1px solid #74991a !important;
	height:17px!important;
	padding-top:5px!important;
	padding-bottom:5px!important;
	text-decoration:none;
}

.bx-ie8 #bx-admin-prefix .popup-window-button-accept:active,
.bx-ie8 #bx-admin-prefix .popup-window-button-create:active {
	padding-top:6px!important;
}
/*==========================================================/IE BUTTONS========================================================================*/
#bx-admin-prefix table.popup-window-titlebar .popup-window-top-row,
#bx-admin-prefix table.popup-window-titlebar-light .popup-window-top-row {
	position: relative;
}
#bx-admin-prefix table.popup-window-titlebar .popup-window-top-row .popup-window-left-column,
#bx-admin-prefix table.popup-window-titlebar .popup-window-top-row .popup-window-center-column,
#bx-admin-prefix table.popup-window-titlebar .popup-window-top-row .popup-window-right-column,
#bx-admin-prefix table.popup-window-titlebar-light .popup-window-top-row .popup-window-left-column,
#bx-admin-prefix table.popup-window-titlebar-light .popup-window-top-row .popup-window-center-column,
#bx-admin-prefix table.popup-window-titlebar-light .popup-window-top-row .popup-window-right-column {
	padding: 0;
	margin: 0;
	border: none;
	height: 49px;
	background: #e2ebee none;
	box-sizing: border-box;
	vertical-align: top;
}

#bx-admin-prefix table.popup-window-titlebar div.popup-window-titlebar,
#bx-admin-prefix table.popup-window-titlebar-light div.popup-window-titlebar  {
	background-color: #e2ebee;
	border-bottom:1px solid#a9a9a9;
	-webkit-box-shadow: 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #ecf1f3 inset, inset 0 1px 0 0 #fff, inset 0 0 0 1px #e9f0f2;
	box-shadow: 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #ecf1f3 inset, inset 0 1px 0 0 #fff, inset 0 0 0 1px #e9f0f2;
	border-radius:4px 4px 0 0;
	height: 49px;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
	width: 100%;
}
#bx-admin-prefix table.popup-window-titlebar div.popup-window-titlebar span,
#bx-admin-prefix table.popup-window-titlebar-light div.popup-window-titlebar span{
	display: inline-block;
	margin: 12px 0 0 18px;
	font-size: 20px;
	text-shadow:0 1px #fff;
	white-space: nowrap;
	color: #282a2c;
}

#bx-admin-prefix table.popup-window-titlebar .popup-window-content,
#bx-admin-prefix table.popup-window-titlebar-light .popup-window-content {
	margin: 12px 9px;
}