@font-face {
	font-family: 'MyseoSansCyrl';
	src: url('/resources/fonts/MuseoSansCyrl_100/MuseoSansCyrl.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'MyseoSansCyrl';
	src: url('/resources/fonts/MuseoSansCyrl_300/MuseoSansCyrl_0.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'MyseoSansCyrl';
	src: url('/resources/fonts/MuseoSansCyrl_500/MuseoSansCyrl_1.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'MyseoSansCyrl';
	src: url('/resources/fonts/MuseoSansCyrl_700/MuseoSansCyrl_2.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'MyseoSansCyrl';
	src: url('/resources/fonts/MuseoSansCyrl_900/MuseoSansCyrl_3.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}