.likearts-content .tab-panel__controls {
    position: relative;
    z-index: 1;
    width: 240px !important;
    /* text-align: right; */
    float: right;
}

.ordersu {
    margin-top: 50px;
}

input#ORDER_PROP_17 {
    width: 31.333333%;
}

input#ORDER_LAST_NAME {
    width: 48.4%;
}

.no_disp > input#ORDER_PROP_22 {
    display: none;
}

.no_disp > input#ORDER_PROP_21 {
    display: none;
}

.korz .tab__link.active {
    background-color: #689f38;
    color: #fff;
    border: none;
    display: none;
}

.korz .tab__link {
    background-color: #689f38;
    color: #fff;
    border: none;
}

.tablebodytext input {
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: #689f38;
    text-align: center;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.4;
}

input#ORDER_PROP_18 {
    width: 31.333333%;
    margin-left: 2%;
}

input#ORDER_FIRST_NAME {
    width: 48.4%;
    margin-left: 2%;
}

input#ORDER_PROP_19 {
    width: 31%;
    margin-left: 2%;
}

.no_disp {
    display: inline;
}

img.calendar-icon {
    border: 0;
    width: 19px;
    height: 19px;
    vertical-align: top;
    margin: 1px;
    margin-left: 2px;
    cursor: pointer;
    position: absolute;
    top: 37px;
    right: 15px;
}

.input-group-2 label {
    position: relative;
}

#order_form_content .tab__content {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e0e0e0;
}

.select-payment {
    margin-top: 50px;
}

.maps-group input {
    width: initial !important;
}




