@media (max-width: 1310px) {
	.backet-product__content {
		padding-right: 20px;
	}
	.notice {
		padding: 23px 15px 30px 68px;
		font-size: 16px;
	}
	.order-right {
		margin-left: 380px;
		padding: 0;
	}
	.maps-list {
		padding-right: 30px;
	}
}
@media only screen and (max-width : 1200px) {

}

div#auth-modal {
    overflow-y: hidden !important;
}
div#auth-modal-reg {
    overflow-y: hidden !important;
}
@media only screen and (max-width : 1024px) {
	.hidden-1024 {
		display: none;
	}
	.backet-product__info-total {
		background-color: #689f38;
		color: #fff;
	}
	.backet-product__total {
		color: #fff;
	}
	.backet-product__info-item,
	.basket-products-head__item {
		width: 50%;
	}
	.basket-product__img {
		width: 128px;
		padding: 0;
	}
	.backet-product__content {
		margin-left: 148px;
	}
}


@media only screen and (max-width : 992px) {
	.sidebar-right {
		width: 300px;
	}
	.faq-content {
		width: calc(100% - 340px);
	}
	.menu-mini__choose-section {
		margin-right: 45px;
	}
	.menu-mini__list {
		min-width: 253px;
	}
	.text-left-sm-xs {
		text-align: left !important;
	}
	.promocode {
		margin-bottom: 20px;
	}
	.order-block.order-info-user {
		border-left: 0;
		padding-left: 0;
	}

}

@media only screen and (max-width : 768px) {
	.menu-mini__choose-section {
		display: none;
	}
	.menu-mini__item:last-child {
		margin-bottom: 5px;
	}
	.sidebar-right,
	.faq-content {
		float: none;
		width: auto;
	}
	.sidebar-right {
		font-size: 0;
	}
	.faq-content {
		margin-bottom: 40px;
	}
	.media-block {
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		padding-right: 20px;
		max-width: 50%;
	}
	.media-block:nth-child(2n) {
		padding-left: 20px;
		padding-right: 0;
	}
	.basket-products-head div {
		text-align: left;
	}
	.backet-product__info-item {
		width: 100%;
		border: none;
	}
	.backet-product__info {
		box-shadow: none;
	}
	.backet-product__info-total {
		background-color: transparent;
		color: #383838;
	}
	.backet-product__total {
		color: #383838;
		padding: 0;
	}
	.backet-product__content {
		padding-top: 0;
	}
	.amount-wrap {
		padding: 0px 0 25px 0;
	}
	.basket .form button, 
	.basket .form input[type=submit], 
	.basket .btn {
		padding: 16px 28px 14px 28px;
	}
	.basket-discount__title {
		font-size: 22px;
	}
	.basket-discount__select {
		margin-bottom: 25px;
	}
	.container {
		width: auto;
		max-width: 582px;
	}
	.order-complete-title {
		line-height: 26px;
	}
	.order-left {
		width: 100%;
		margin-bottom: 40px;
	}
	.maps-group,
	.maps-list,
	.maps-content {
		width: auto;
		display: block;
	}
	.maps-list {
		margin-bottom: 20px;
	}
	.btn-wrap-top {
		margin-top: 40px;
	}
	.btn-wrap-top .btn {
		width: 100%;
	}
}

@media only screen and (max-width : 640px) {
	.page .container {
		padding: 0 15px;
	}
	.menu-mini__list {
		display: block;
	}
	.menu-mini__item {
		display: block;
	}
	.menu-mini--faq {
		margin-bottom: 45px;
	}
	.menu-mini {
		padding-bottom: 30px;
	}

}

@media only screen and (max-width : 480px) {
	.page-title, .page-content h1 {
		margin-bottom: 50px;
		font-size: 26px;
	}
	.media-block {
		max-width: 100%;
		padding: 0 !important;
	}
	.page-content {
		padding-top: 0;
	}
	.page-title, .page-content h1,
	.menu-mini {
		margin-left: -15px;
		margin-right: -15px;
		padding: 0 15px;
		border-bottom: 1px solid #bdbdbd;
		padding-bottom: 20px;
		margin-bottom: 40px;
	}
	.basket-product__desk {
		display: none;
	}
	.backet-product__content {
		margin-left: 0;
	}
	.backet-product__content {
		display: none;
	}
	.basket-count {
		display: block;
		float: right;
	}
	.basket-products-head {
		display: none;
	}
	.show-480 {
		display: block;
	}
	.basket-product__title {
		margin-bottom: 30px;
		line-height: 25px;
		white-space: normal;
		font-size: 20px;
		padding-right: 30px;
	}
	.page-content h1 {
		margin-bottom: 30px;
	}
	.basket-product {
		position: relative;
		padding: 0 15px 30px 15px;
		margin-bottom: 20px;
		margin-left: -15px;
		margin-right: -15px;
		border-bottom: 1px solid #bdbdbd;
	}
	.col-xsl-6 {
		width: 50%;
	}
	.col-xsl-12 {
		width: 100%;
	}
	.basket-product__img {
		width: 80%;
	}
	.basket-product:last-child {
		margin-bottom: 0;
	}
	.basket-products {
		margin-bottom: 0;
	}
	.basket-total-price {
		border: 0;
		margin-bottom: 0;
	}
	.hidden-xsl {
		display: none;
	}
	.basket .form button, .basket .form input[type=submit], .basket .btn {
		width: 100%;
	}
	.basket-discount {
		text-align: center;
		padding: 35px 0;
		border: 1px solid #383838;
		margin-top: 35px;
		margin-left: -15px;
		padding-left: 15px;
		padding-right: 15px;
		margin-right: -15px;
		border-right: 0;
		border-left: 0;
	}
	.basket-discount__btn-wrap .btn {
		width: 300px;
		margin: 0 auto;
	}
	.basket-total-price {
		font-size: 16px;
		white-space: nowrap;
	}
	.backet-product__delete {
		position: absolute;
		right: 15px;
		top: 3px;
		width: 24px;
		height: 24px;
		cursor: pointer;
		background: url(../img/close_icon.png) no-repeat;
		background-size: cover;
	}
	.order-complete-title {
		text-align: center;
		max-width: 90%;
		padding: 0;
		padding-top: 40px;
		margin: 0 auto;
		margin-bottom: 30px;
		background-position: center top;
	}
	.order-complete-desk {
		text-align: center;
		margin-bottom: 25px;
	}
	.reminder-form {
		margin: 0 auto;
	}
	.reminder-form .select__title {
		text-align: center;
	}
	.reminder-form .btn {
		width: 100%;
	}
	.email-subscriptions .label-radio .radio {
		float: left;
		height: 34px;
		background-repeat: no-repeat;
	}
	.order-block.order-info-user,
	.order-block {
		width: 100%;
	}
	.promocode {
		white-space: normal;
	}
	.promocode input[type='text'],
	.promocode .btn {
		width: 100%;
		margin: 0;
	}
	.promocode input[type='text']{
		margin-bottom: 20px;
	}
	.order-block .btn {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.order-information {
		margin-left: -15px;
		margin-right: -15px;
	}
	.order-information .tabs__caption {
		font-size: 0;
		margin-bottom: 50px;
	}
	.order-information .tab__link {
		width: 50%;
		margin-right: 0;
		font-size: 21px;
	}
	.order-information .tabs__content {
		padding: 0 15px;
	}
	.order-information .radio {
		margin-top: 4px;
	}
	.select-payment .label-radio {
		font-size: 18px;
	}
	.label-radio-text {
		background-size: contain !important;
	    line-height: 32px;
	}
	.icon-1 .radio + .label-radio-text:before {
    	background-size: contain;
		width: 36px;
    	height: 32px;
	}
	.icon-2 .label-radio-text {
		line-height: 26px;
	}
	.icon-2 .radio + .label-radio-text:before {
    	background-size: contain;
    	width: 38px;
    	height: 26px;
	}
	.icon-2 .label-radio-text {
		line-height: 26px;
	}
	.icon-3 .radio + .label-radio-text:before {
		background-size: contain;
		top: 0;
		width: 37px;
		height: 32px;
	}
}

@media only screen and (max-width : 425px) {


}

@media only screen and (max-width : 360px) {
	.order-complete-title {
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: normal;
	}
	.order-information .tab__link {
		font-size: 19px;
	}
	.order-information .radio {
		margin-top: 1px;
	}
	.select-payment .label-radio-text {
		padding-left: 60px;
	}
}

@media only screen and (max-width : 320px) {
	.basket-discount__btn-wrap .btn,
	.basket-discount__select {
		width: 100%;
	}
	.order-information .tab__link {
		font-size: 18px;
	}
}