.page-content {
	padding: 50px 0;
}



.page-content__phone {
	font-size: 15px;
	font-weight: 500;
	color: #898989;
	margin-bottom: 55px;
}

.page-title,
.page-content h1 {
	margin-bottom: 58px;
	font-size: 45px;
	font-weight: 500;
	color: #383838;
}

.page {
	background-color: #fff;
}

.page--gray {
	background-color: #eeeeee;
}

.select_label_item .bx_active span {
    color: #689f38;
    cursor: pointer;
}

.select_label_item ul li {
    display: inline-block;
    cursor: pointer;
}



/* ==================================================================================
	TABS
   ================================================================================== */
.tab__link {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
}

.tabs__caption {
	padding: 0;
	margin: 0 auto;
	margin-bottom: 60px;
}

.tab__link:before {
  	display: none;
}

.tabs__content {
    
}

.tab__content {
    display: none;
    font-size: 14px;
    color: #434343;
}

.tabs__content .tab__content p {
    font-size: inherit;
    color: inherit;
}

.tab__content.active {
    display: block;
}

/* ==================================================================================
	DOCTOR-BOX
   ================================================================================== */
.doctor-box	{
	font-size: 0;
	white-space: nowrap;
	height: 298px;
	margin-bottom: 50px;
	background-color: #fff;
}

.doctor-box:last-child {
	margin-bottom: 0;
}

.doctor-box__info,
.doctor-box__select-date {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	padding: 60px 0;
	width: 50%;
	font-size: 15px;
	font-weight: 300;
	color: #383838;
	overflow: hidden;
	white-space: normal;
	background-color: #fff;
}

.doctor-box__select-date {
	background-color: #fafafa;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.doctor-box__photo {
	float: left;
	width: 258px;
	padding: 0 40px;
}

.img-circle {
	position: relative;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
}

.img-circle:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border: 10px solid #f5f5f5;
	border-radius: 50%;
}

.doctor-box__photo .img-circle {
	width: 178px;
	height: 178px;
	line-height: 178px;
}

.doctor-box__content {
	float: left;
	width: calc(100% - 258px);
	padding-right: 40px;
}

.doctor-box__fio {
	margin-bottom: 15px;
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #383838;
}

.doctor-box__desk {
	margin-bottom: 17px;
	line-height: 18px;
}

.doctor-box__meta {
	font-size: 13px;
}

.doctor-box__meta span {
	font-weight: 700;
}


/* ==================================================================================
	MENU MINI
   ================================================================================== */
.menu-mini {
	padding-bottom: 50px;
	border-bottom: 1px solid #eee;
}

.menu-mini--faq {
	margin-bottom: 52px;
}

.menu-mini__list {
	position: relative;
	z-index: 9;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
	margin-top: -4px;
	min-width: 265px;
	list-style: none;
}

.menu-mini__item {
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

.menu-mini__item:last-child {
	margin-bottom: 0;
}

.menu-mini__link {
	font-size: 20px;
	color: #333;
    line-height: 24px;
	font-weight: 300;
	text-decoration: none;
}

.menu-mini__link:hover {
	color: #333;
}

.menu-mini__link.active {
	color: #689f38;
}

.menu-mini__choose-section {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 55px;
    font-size: 13px;
    white-space: nowrap;
    font-weight: 500;
    color: #fff;
    width: 34px;
    height: 122px;
    background-color: #689f38;
}

.menu-mini__choose-section span {
	position: absolute;
	top: 52px;
	left: -37px;
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
			transform: rotate(-90deg);
}

.menu-mini__choose-section:before {
	content: '';
    position: absolute;
    left: 100%;
    bottom: 0;
    border: 61px solid transparent;
    border-left: 10px solid #689f38;
}

.list-style-1 {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-style-1 li {
	margin: 0;
	padding: 0;
	font-size: 300;
	margin-bottom: 25px;
}

.list-style-1 li:before {
	display: none;
}

.list-style-1 li .h5 {
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 8px;
	margin-top: 0;
}

.list-style-1 li p {
	font-weight: 300;
	line-height: 18px;
	font-size: 13px;
	margin-bottom: 0;
}

.faq-h3 {
	margin-bottom: 30px;
}

.faq-wrap {
	overflow: hidden;
}

.faq-content {
	float: left;
	width: calc(100% - 500px);
}

.sidebar-right {
	width: 370px;
	float: right;
}

.media-block {
	margin-bottom: 28px;
}

.media-block__title {
	margin-top: 24px;
	font-size: 15px;
	color: #333;
	font-weight: 500;
}

.link-style-1 {
	font-size: 18px;
	color: #333 !important;
	font-weight: 500;
	text-decoration: none;
}

.link-style-1 i {
	margin-top: -3px;
}

.hover-1,
.menu-mini__link {
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-decoration: none !important;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.hover-1:before,
.menu-mini__link:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 1px;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
    -webkit-transform: translateX(-102%);
       -moz-transform: translateX(-102%);
        -ms-transform: translateX(-102%);
            transform: translateX(-102%); 
    background-color: #333;
}

.hover-1:hover:before,
.menu-mini__link:hover:before {
    -webkit-transform: translateX(0px);
       -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);	
}

.page-content img {
	max-width: 100%;
	max-height: 100%;
}
/*----- RADIO INPUT -----*/
.radio {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 8px;
    margin-bottom: 0;
    cursor: pointer;
    background: url(../img/check_icon_def.png);
}

.radio.active {
    border-color: #1f3b7a;
}

.radio:before {
    content: '';
    opacity: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 20px;
    height: 20px;
    background: url(../img/check_icon.png) no-repeat;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
            transition: all .2s;
}

.radio.active:before {
    opacity: 1;
}

.radio__input {
	visibility: hidden;
	height: 100%;
	width: 100%;
}


.label-radio {
	display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    margin-bottom: 22px;
    color: #383838;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.select-delivery {
	margin-bottom: 70px;
	border-bottom: 1px solid #e0e0e0;
}
.order-left {
	float: left;
	width: 346px;
}

.form {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.form input,
.form textarea {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #e1e1e1;
    width: 100%;
    height: 46px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'MyseoSansCyrl';
    font-size: 14px;
    font-weight: 300;
    outline: none !important;
    color: #383838;
    margin-bottom: 8px;
    background-color: transparent;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
            transition: all 0.2s;
}

.form textarea {
    height: 105px;
    resize: none;
    padding: 10px 20px;
}

.form input:not([type='submit']):focus,
.form textarea:focus {
    border-color: #383838;
}

.form input:focus::-webkit-input-placeholder    {color: transparent}
.form input:focus::-moz-placeholder             {color: transparent}
.form input:focus:-moz-placeholder              {color: transparent}
.form input:focus:-ms-input-placeholder         {color: transparent}
.form textarea:focus::-webkit-input-placeholder {color: transparent}
.form textarea:focus::-moz-placeholder          {color: transparent}
.form textarea:focus:-moz-placeholder           {color: transparent}
.form textarea:focus:-ms-input-placeholder      {color: transparent}

.form button, 
.form input[type=submit],
.btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    padding: 16px 98px 14px 98px;
    margin: 0;
    border: none;
    border-radius: 0;
    outline: none !important;
    background-color: #689f38;
    font-size: 14px;
    font-weight: 700;
    color: #fff !important;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    text-decoration: none !important;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
    cursor: pointer;
}


.input-group-3,
.input-group-2 {
	text-align: justify;
}

.input-group-3:after,
.input-group-2:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	opacity: 0;
}

.input-group-3 input {
	width: 31%;
	margin-bottom: -12px;
}

.input-group-2 {
	margin-top: 14px;
}

.input-group-2 label {
	text-align: left;
	font-size: 14px;
	font-weight: 500;
	color: #333333;
	width: calc(50% - 6px);
	margin-bottom: -12px;
}

.input-group-2 label span {
	display: block;
	margin-bottom: 6px;
}

.order-right {
	margin-left: 346px;
	padding-left: 164px;
}

.notice {
    position: inherit;
    padding: 43px 15px 50px 68px;
    font-size: 22px;
    font-weight: 300;
    color: #383838;
}

.notice-warning {
	background: url(../img/notice-warning-icon.png) no-repeat left 47%;
}

.order-wrap {
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
	margin-bottom: 50px;
}

.select-payment-title {
	font-size: 22px;
	color: #383838;
	font-weight: 500;
	margin-bottom: 20px;
}

.select-payment .radio {
	position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-right: 8px;
    margin-bottom: 3px;
    cursor: pointer;
}

.select-payment .label-radio {
	display: block;
	font-weight: 300;
	font-size: 22px;
	white-space: nowrap;
	margin-bottom: 35px;
	margin-right: 0;
}

.select-payment .label-radio:last-child {
	margin-bottom: 0;
}

.select-payment .radio.active + label .label-radio-text {
	color: #689f38;
}

.label-radio-text {
	position: relative;
	display: inline-block;
	padding-left: 70px;
	margin-left: 5px;
	line-height: 42px;
}

.label-radio-text:before {
	content: '';
	display: inline-block;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.select-payment label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 300;
    cursor: pointer;
}

.icon-1 .label-radio-text {
	background: url(../img/payment_icon1.png) no-repeat left center;
}
.icon-2 .label-radio-text {
	background: url(../img/payment_icon2.png) no-repeat left center;
	line-height: 32px;
}
.icon-3 .label-radio-text {
	background: url(../img/payment_icon3.png) no-repeat left center;
}

.icon-1 .radio + label .label-radio-text:before {
	background: url(../img/payment_icon1_active.png) no-repeat;
	width: 46px;
	height: 42px;
}
.icon-2 .radio + label .label-radio-text:before {
	background: url(../img/payment_icon2_active.png) no-repeat;
	width: 46px;
	height: 32px;
}
.icon-3 .radio + label .label-radio-text:before {
	background: url(../img/payment_icon3_active.png) no-repeat;
	top:  1px;
	width: 46px;
	height: 42px;
}

.radio.active + label .label-radio-text:before {
	opacity: 1;
}

.btn-wrap-top {
	margin-top: -50px;
}

.clear-basket {
	font-size: 13px;
	font-weight: 500;
	color: #333333;
	float: right;
	margin-top: -92px;
}

.clear-basket:before {
	background-color: #689f38;
}

.clear-basket:hover {
	color: #689f38;
}

.banner-free {
	line-height: 60px;
	font-size: 20px;
	font-weight: 300;
	color: #689f38;
	padding-left: 32px;
	border: 1px solid #c6c6c6;
	margin-bottom: 35px;
}

.banner-free img {
	margin-right: 33px;
}

.margin-0 {
	margin: 0;
}

.padding-0 {
	padding: 0;
}

.basket-product {
	margin: 0;
	margin-bottom: 45px;
}

.basket-product__img {
	float: left;
	padding: 0 34px;
	width: 194px;
	height: 133px;
	line-height: 133px;
	text-align: center;
}

.backet-product__content {
	margin-left: 194px;
	padding-top: 30px;
	padding-right: 120px;
}

.basket-product__title {
	font-size: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #383838 !important;
	font-weight: 500;
	margin-bottom: 1px;
	line-height: 30px;
	width: 100%;
}

.basket-product__desk {
	font-size: 15px;
	color: #383838;
	font-weight: 500;
	margin-bottom: 4px;
}

.backet-product__delete {
	font-size: 13px;
	font-weight: 300;
	color: #898989 !important;
	padding-right: 2px;
	margin-bottom: -6px;
	line-height: 13px;
}

.backet-product__info {
	font-size: 0;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.backet-product__info-item {
	display: inline-block;
	vertical-align: top;
	width: 33.333333%;
	font-size: 14px;
	text-align: center;
	border-right: 1px solid #eeeeee;
}

.backet-product__info-item:last-child {
	border-right: 0;
}

.backet-product__price {
	color: #383838;
}

.backet-product__total {
	color: #689f38;
}

.backet-product__price,
.backet-product__total {
	padding: 48px 0;
	font-size: 26px;
	font-weight: 500;
}

.amount {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}

form .amount__input {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 32px;
	height: 32px;
	border: none;
	padding: 0;
	margin: 0;
	line-height: 36px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	color: #383838;
}

input.amount__input:focus {
	outline: 0; 
}

.amount__button {
	position: relative;
    display: inline-block;
    vertical-align: top;
    color: #959595;
    width: 32px;
    height: 32px;
    font-size: 14px;
    background-color: #689f38;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.amount__button--minus {
	background-color: #c6c6c6;
}

.amount__title {
	font-size: 10px;
	color: #898989;
	text-transform: uppercase;
	margin-bottom: 12px;
	letter-spacing: 1.2px;
}

.amount-wrap {
	padding: 35px 0 40px 0;
}

.basket-products-head {
	margin: 0;
	margin-bottom: 14px;
}

.basket-products-head div {
	color: #898989;
	font-size: 12px;
	font-weight: 300;
	padding: 0;
}

.basket-products-head__item {
	display: inline-block;
	vertical-align: top;
	width: 33.333333%;
	text-align: center;
}

.font-size-0 {
	font-size: 0 !important;
}

.basket-products {
	margin-bottom: 22px;
}

.basket-total-price {
	font-size: 20px;
	font-weight: 500;
	color: #383838;
	line-height: 86px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 42px;
}

.fl-l {
	float: left;
}

.fl-r {
	float: right;
}

.basket-discount {
	text-align: center;
	padding: 64px 0;
	border: 1px solid #383838;
	margin-top: 45px;
}

.basket-discount__title {
	font-size: 36px;
	font-weight: 300;
	color: #383838;
	margin-bottom: 40px;
}

.basket-discount__btn-wrap .btn {
	width: 300px;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
	margin: 0 38px;
}

.btn--white,
.form button.btn.btn--white {
	color: #689f38 !important;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.btn--black,
.form button.btn.btn--black {
	background-color: #383838;
	padding-right: 0;
	padding-left: 0;
}

.order-block {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 400px;
	margin-bottom: 28px;
}

.order-info-products ol {
	padding-left: 0;
	list-style-position: inside;
	margin-bottom: 20px;
}

.order-info-products ol li {
	font-size: 15px;
	color: #383838;
	font-weight: 300;
	margin-bottom: 10px;
}

.order-block.order-info-user {
	border-left: 1px solid #e0e0e0;
	padding-left: 40px;
	width: 440px;
}

.order-info-user p {
	font-weight: 300;
	font-size: 13px;
	margin-bottom: 8px;
}

.order-info-user p b {
	font-weight: 500;
}

.order-info-user textarea {
	margin-top: 20px;
	box-sizing: border-box;
}

.order-info__total {
	font-size: 20px;
	font-weight: 500;
	color: #383838;
	margin-bottom: 45px;
}

.order-info__total-delivery {
	font-size: 15px;
	font-weight: 300;
	color: #383838;
	margin-bottom: 20px;
}

.promocode {
	white-space: nowrap;
}

.promocode input[type='text'] {
	height: 50px;
	width: 227px;
	margin-bottom: 0;
	margin-right: 10px;
}

.promocode .btn {
	width: 160px;
}

.order-info-wrap {
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 52px;
}

.order-info__total--grean {
	color: #689f38;
	margin-bottom: 40px;
}

.order-block.text-right {
	text-align: right;
}

.order-block input {
	height: 50px;
}

.select-doctor {
	margin-bottom: 20px;
	font-size: 15px;
	color: #383838;
	font-weight: 300;
}

.order-complete-title {
	font-size: 24px;
	color: #383838;
	font-weight: 300;
	padding-left: 37px;
	line-height: 18px;
	margin-bottom: 14px;
	padding-top: 4px;
	background: url(../img/icon-2.png) no-repeat left top;
}

.order-complete-desk {
	font-size: 15px;
	color: #383838;
	font-weight: 300;
}

.sidebar-2 {
	display: inline-block;
	width: 270px;
	text-align: left;
}

.menu-posts {
	border: 1px solid #e1e1e1;
}

.menu-posts__title {
	padding: 30px 32px;
	line-height: 26px;
	border-bottom: 1px solid #e1e1e1; 
	font-size: 22px;
	font-weight: 500;
	color: #383838;
}

.menu-posts__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-posts__list li {
	margin: 0;
	padding: 10px 32px;
	border-bottom: 1px solid #e1e1e1;
}

.menu-posts__list a {
	font-size: 16px;
	color: #383838;
	font-weight: 300;
	list-style: 18px;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
			transition: all .3s;
}

.menu-posts__list a:hover {
	color: #689f38;
}

.menu-posts .link-style-1 {
	font-size: 14px;
}

.menu-posts .link-style-1 i {
	margin-top: 0;
	font-size: 22px;
}

.menu-posts__read-more {
	padding: 19px 32px 13px 32px;
}

.widget-facebook {
	margin-top: 65px;
}

/* ==================================================================================
	SELECT
   ================================================================================== */
.select {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.select__title {
    position: relative;
    width: 100%;
    padding: 16px 20px 14px 20px;
    background: #fff;
    font-weight: 500;
    font-size: 14px;
    color: #689f38;
    cursor: pointer;
    text-transform: uppercase;
}

.select__title:after {
    content: 'arrow_drop_down';
    position: absolute;
    right: 12px;
    top: calc(50% - 12px);
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    color: #383838;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
     direction: ltr; 
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.select__placeholder {
    color: #A5A5A5;
}

.select__list {
	opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 99;
    left: 0px;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    -webkit-transition: all .35s ease;
       -moz-transition: all .35s ease;
            transition: all .35s ease;
    -webkit-transform: scale(0.95);
       -moz-transform: scale(0.95);
            transform: scale(0.95);
}

.select__list.active {
	opacity: 1;
    visibility: visible;
    -webkit-transition: all .4s;
       -moz-transition: all .4s;
    		transition: all .4s;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
            transform: scale(1);
}

.select__item {
    position: relative;
    display: block;
    padding: 8px 20px 6px 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #434343;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
    		transition: all .3s;
}

.select__item:before {
	display: none;
}

.select__item.active,
.select__item:hover {
    text-decoration: none;
    color: #689f38;
    cursor: pointer;
}

.select__item.active {
    color: #689f38;
}

.reminder-form {
	margin-top: 40px;
	max-width: 440px;
}

.select-method {
	margin: 42px 0;
}

.select-method .label-radio {
	font-size: 22px;
	margin-bottom: 10px;
}

.select-method .label-radio:last-child {
	margin-bottom: 0;
}

.select-method .label-radio .radio {
	margin-top: 4px;
}

.email-subscriptions {
	margin-top: 35px;
	border-top: 1px solid #e1e1e1;
	padding-top: 17px;
	margin-bottom: 48px;
}

.email-subscriptions .label-radio {
	font-size: 14px;
	margin-right: 0;
	font-weight: 300;
	color: #689f38;
	margin-bottom: 0;
}

.email-subscriptions .label-radio .radio {
	margin-top: 0;
}

.select-doctor .select {
	box-shadow: none;
}

.select-doctor .select__title {
	font-size: 15px;
	text-transform: none;
	box-shadow: none;
	padding: 0;
	font-weight: 300;
	color: #383838;
}

.select-doctor .select__title:after {
	right: 0;
}

.select-doctor .select__item {
	font-size: 16px;
	font-weight: 300;
	text-transform: none;
	padding: 6px 20px 4px 20px;
}

.select-doctor .select__list {
	top: 26px;
}

.basket-discount__select {
	width: 300px;
	display: inline-block;
	vertical-align: top;
}

.basket-discount__select .select {
	text-align: center;
}
.basket-count {
	display: none;
	font-weight: 500;
	font-size: 26px;
	color: #383838;
}

.show-480 {
	display: none;
}


/* ==================================================================================
	MAPS
   ================================================================================== */
.maps-container {
	height: 325px;
	margin: 40px 0;
}

.map {
	width: 100%;
	height: 100%;
}

.maps-group {
	display: table;
	width: 100%;
}

.maps-list {
	display: table-cell;
	vertical-align: top;
	width: 40%;
	padding: 0;
	padding-right: 100px;
	margin: 0;
	list-style: none;
	background-color: transparent;
}

.maps-content {
	display: table-cell;
	vertical-align: top;
	height: 300px;
	width: 60%;
}

.overflow-hidden {
	overflow: hidden;
}

.maps-list li {
	position: relative;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
	text-decoration: none;
	color: #383838;
	cursor: pointer;
	padding-left: 28px;
}

.maps-list li:before {
	content: '';
	display: block;
	position: absolute;
	top: 2px;
	left: 0px;
	width: 16px;
	height: 16px;
	border: 1px solid #383838;
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
}

.maps-list li:after  {
    content: '';
    opacity: 0;
    display: block;
    position: absolute;
    top: 8px;
    left: 6px;
    z-index: 9;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #383838;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
            transform: scale(0);
}

.maps-list li.active:after {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
            transform: scale(1);
}

.maps-list li.active {
	color: #689f38;
	text-decoration: underline;
}


.maps-list li:hover {
	color: #689f38;
	text-decoration: underline;
}

/*----- Img for Google Maps -----*/
.gm-style img {
	max-height: none;
}

.maps-list li.li-no-click {
	padding: 0;
	margin-bottom: 20px;
}

.maps-list li.li-no-click:after,
.maps-list li.li-no-click:before {
	display: none;
}

.maps-list li.li-no-click:hover {
	color: #383838;
	text-decoration: none;
	cursor: default;
}

.maps-group__title {
	font-size: 20px;
	font-weight: 500;
	color: #383838;
}

.maps-group {
	margin-bottom: 60px;
}

/* ==================================================================================
	 17: ACCORDION
   ================================================================================== */
.accordion {
    width: 100%;
    margin-bottom: 30px;
}

.accordion__item:last-child {
	margin-bottom: 0px;
}

.accordion__link {
	display: inline-block;
	position: relative;
	font-size: 24px;
	font-weight: 300;
	color: #383838;
	cursor: pointer;
	border-bottom: 1px dashed #383838;
	-webkit-transition: all .2s;
       -moz-transition: all .2s;
    		transition: all .2s;
}

.accordion__text p {
	margin-bottom: 16px;
}

.accordion__text p:last-child {
	margin-bottom: 0;
}

.accordion__item.active .accordion__link,
.accordion__link:hover {
    color: #383838;
    border-bottom: 1px dashed transparent;
}

.accordion__content {
	display: none;
}

.accordion__text {
	padding-bottom: 5px;
	padding-top: 13px;
	font-weight: 300;
}

.accordion__item {
	margin-bottom: 20px;
}


/*----- Сourses-item -----*/
.course h1 {
    margin-bottom: 25px;
}

.course h2 {
	font-size: 24px;
	margin-bottom: 60px;
	margin-top: 0;
	font-weight: 300;
}

.course-discount {
	margin-bottom: 50px;
	font-size: 18px;
	font-weight: 300;
	color: #383838;
}

.course-discount span {
	color: #f44336;
	font-size: 18px;
	text-decoration: line-through;
}

.course-wrap:after {
	content: '';
	display: table;
	clear: both;
}

.course-content {
	float: left;
	width: calc(100% - 320px);
	padding-right: 160px;
}

@media only screen and (max-width : 1310px) {
	.course-content {
		padding-right: 40px;
	}
}

.course-sidebar {
	float: right;
	width: 320px;
}

@media only screen and (max-width : 991px) {
	.course-content {
		padding-right: 20px;
		width: calc(100% - 160px);
	}
	.course-sidebar {
		width: 160px;
	}
}

.course-img {
	height: 412px;
}

.course-form {
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.course-form__price {
	padding: 47px 0;
	background-color: #383838;
	font-size: 32px;
	font-weight: 500;
	color: #fff;
	text-align: center;
}

.course-form__amount-wrap {
	text-align: center;
	padding: 0 0 32px 0;
}

.bx_sive {
	text-align: center;
	padding: 32px 0;
}

.course-form .btn {
	width: 100%;
	text-transform: uppercase;
}

.icon-text--course {
	margin: 30px 0;
	margin-bottom: 0;
}

.icon-text__icon {
	float: left;
}

.icon-text__content {
	display: block;
	margin-left: 26px;
	font-size: 13px;
	color: #383838;
	line-height: 18px;
}

.icon-text__icon {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../icons/note.svg);
    margin: 0 10px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.course-nabor-row {
	font-size: 0;
	padding-top: 10px;
}

.course-nabor {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	font-size: 14px;
	width: 125px;
	margin-right: 30px;
}

.course-nabor:last-child {
	margin-right: 0;
}

.course-nabor__img {
	height: 105px;
	margin-bottom: 18px;
}

.course-nabor a {
	font-size: 13px;
	font-weight: 500;
	color: #383838;
}

.course-wrap-1 {
	margin-bottom: 50px;
}

.list-1 {
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	list-style: none;
}

.list-1 li {
	margin: 0;
	padding: 0;
}

.list-1 li:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	margin-right: 5px;
	height: 1px;
	background-color: #383838;
}

.consult {
	font-size: 20px;
	color: #383838;
	font-weight: 300;
}

.faq-sidebar {
	font-weight: 500;
	margin-bottom: 70px;
}

.faq-sidebar-title {
	font-size: 24px;
	color: #333333;
	margin-bottom: 30px;
}

.faq-sidebar .accordion__link {
	font-size: 15px;
	line-height: 18px;
	text-decoration: underline;
	border-bottom: none !important;
	color: #689f38 !important;
}

.testimonials-sidebar__title {
	font-size: 24px;
	color: #333333;
	margin-bottom: 30px;
}

.testimonials-sidebar__item {
	font-weight: 500;
	margin-bottom: 25px;
}
.testimonials-sidebar__img {
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.testimonials-sidebar__img img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}
.testimonials-sidebar__info {
	margin-left: 60px;
}
.testimonials-sidebar__username {
	font-size: 15px;
	color: #689f38;
	margin-bottom: 6px;
}
.testimonials-sidebar__text {
	font-size: 15px;
	color: #383838;
	line-height: 18px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.testimonials-sidebar__text:hover {
	color: #689f38;
}
.testimonials-sidebar-all {
	display: inline-block;
	color: #383838;
	font-size: 15px;
	font-weight: 500;
	vertical-align: top;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	margin-left: 60px;
}
.testimonials-sidebar-all:hover {
	color: #689f38;
}
.old-price,
.price-count-1 {
	display: none;
}

@media only screen and (max-width : 991px) {
	.course-wrap-2 .course-content,
	.course-wrap-2 .course-sidebar {
		padding-right: 0;
		float: none;
		width: 100%;
	}
	.course-wrap-1 {
		margin-bottom: 0;
	}
	.course h1 {
		font-size: 36px;
	}
	.course h2 {
		font-size: 20px;
	}
	.course-wrap-1 .course-content {
		width: calc(100% - 300px);
	}
	.course-wrap-2 .course-sidebar {
		padding-top: 40px;
		margin-top: 50px;
		border-top: 1px solid #eeeeee;
	}
	.faq-sidebar {
		margin-bottom: 40px;
	}
	.course-form__price {
		font-size: 26px;
	}
	.course-form .btn {
		padding-left: 0;
		padding-right: 0;
	}
	.course-discount {
		font-size: 14px;
	    margin-bottom: 30px;
	}
	.course-nabor-row .course-nabor {
		margin-right: 18px;
		min-width: 165px;
	}
	.course-nabor-row .course-nabor:nth-child(4n) {
		margin-right: 0;
	}
	.consult a {
		display: inline-block;
	}
}
@media only screen and (max-width : 767px) {
	.course-wrap-1 .course-content,
	.course-wrap-1 .course-sidebar {
		padding-right: 0;
		float: none;
		width: 100%;
	}
	.course-wrap-1 .course-content {
		text-align: center;
	}
	.course h1 {
		text-align: center;
	}
	.course h2 {
		color: #898989;
		margin-bottom: 50px;
	}
	.course-wrap-1 .course-content .course-img {
		text-align: center;
		max-width: 380px;
		margin: 0 auto;
		margin-bottom: 20px;
		height: auto;
	}
	.course-form {
		text-align: center;
		box-shadow: none;
	}
	.course-form .btn {
		display: block;
		max-width: 400px;
		margin: 0 auto;
	}
	.course-wrap-1 {
		margin-bottom: 50px;
	}
	.course-nabor-row .course-nabor {
		min-width: auto;
		margin-right: 18px;
		max-width: 120px;
		width: auto;
	}
	.course-form__price {
		text-align: right;
		display: inline-block;
		vertical-align: middle;
		background: transparent;
		padding: 0;
		margin-right: 60px;
		color: #383838;
		font-size: 30px;
	}
	.course-form__amount-wrap {
		display: inline-block;
		vertical-align: middle;
	}
	.old-price {
		display: block;
		color: #f44336;
		font-size: 18px;
		text-decoration: line-through;
	}
	.price-count-1 {
		display: block;
		font-size: 16px;
		color: #383838;
	}
}

@media only screen and (max-width : 480px) {
	.page-content.course h1 {
		margin-left: 0px;
	    margin-right: 0px;
	    padding: 0px;
	    border-bottom: none;
	    margin-top: 50px;
	    padding-bottom: 0px;
	    margin-bottom: 20px;
	}
	.course-form__price {
		float: left;
		margin-right: 0;
		margin-bottom: 20px;
		margin-left: 20px;
	}
	.course-form__amount-wrap {
		float: right;
		margin-right: 20px;
	}
	.course-form__amount-wrap {
		text-align: center;
		padding: 0;
		padding-top: 15px;
	}
	.course-form {
		overflow: hidden;
	}
	.course-form .btn {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	.course-wrap-2 .course-sidebar {
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 -15px;
		width: auto;
		margin-top: 50px; 
	}
}

@media only screen and (max-width : 360px) {
	.course-wrap-1 .course-content .course-img {
		max-width: 250px;
	}
	.course-nabor-row .course-nabor {
		margin-right: 18px;
		max-width: 50%;
	}
	.consult a {
		text-decoration: underline !important;
		border-bottom: none !important;
	}
}

@media only screen and (max-width : 320px) {
	.course-form__price {
		margin-left: 0px;
	}
	.course-nabor-row .course-nabor {
		margin-right: 18px;
		max-width: 40%;
	}
	.course-form__amount-wrap {
		margin-right: 0px;
	}
}


.toggle,
.toggler {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 4px;
}

.toggler {
  color: slategray;
  transition: .2s;
  font-size: 12px;
  cursor: pointer;
  color: #383838;
  font-weight: 300;
  text-transform: uppercase;
}

.toggler--is-active { color: #6a9e3f; }

.b { display: block; }

.toggle {
	width: 45px;
	height: 25px;
	border-radius: 50px;
	background-color: #6a9e3f;
	overflow: hidden;
	box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

.check {
	position: absolute;
	display: block;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 !important;
	height: 100%;
	opacity: 0;
	z-index: 6;
}

.check:checked ~ .switch {
	right: 2px;
	left: 46.5%;
	transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition-property: left, right;
	transition-delay: .08s, 0s;
}

.switch {
	position: absolute;
	left: 2px;
	top: 2px;
	bottom: 2px;
	right: 46.5%;
	background-color: #fff;
	border-radius: 36px;
	z-index: 1;
	transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition-property: left, right;
	transition-delay: 0s, .08s;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.product-row {
	margin: -15px;
	font-size: 0;
}

.product {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 14px;
	width: calc(33.333333% - 30px);
	margin: 15px;	
}

.product-inner {
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12) !important;
	background-color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.product:hover .product-inner {
	box-shadow: 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23) !important;
}

.product__top {
	overflow: hidden;
	display: table;
	width: 100%;
}

.product__footer {

}

.product__price {
	display: table-cell;
	min-width: 100px;
	padding: 13px 20px 11px 20px;
	background-color: #383838;
	color: #fff;
	font-size: 1.8rem;
	text-align: center;
	white-space: nowrap;
}

.product__discount {
	position: relative;
	display: table-cell;
	width: 100%;
	text-align: center;
	font-size: 15px;
	vertical-align: middle;
	border-top: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	font-weight: 500;
	color: #898989;
}
.product__not-discount {
	position: relative;
	display: table-cell;
	width: 100%;
	text-align: center;
	font-size: 15px;
	vertical-align: middle;
	font-weight: 500;
	color: #898989;
}

.product__discount:after {
    content: "›";
    position: absolute;
    right: 16px;
}

.product__content {
	position: relative;
}

.product__content .amount-wrap {
	padding: 33px 0 0px 0;
}

.product__checker {
	display: block;
	position: absolute;
	width: 32px;
	height: 32px;
	z-index: 100;
	right: 0;
	top: 0;
	cursor: pointer;
	background-image: url(../icons/info.svg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product__checker.active {
	background-image: url(../icons/minus.svg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product__wrap {
	padding: 45px 30px 40px 30px;
}

.product__title {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 10px;
    line-height: 30px;
}

.product__sub-title {
    font-size: 1.3rem;
    text-align: center;
    color: #898989;
    margin-bottom: 40px;
}

.product__desc {
	line-height: 22px;
	margin-bottom: 42px;
}

@media (max-width: 1310px) { 
	.product__sub-title br,
	.product__desc br {
		display: none;
	}
}

@media (max-width: 1024px) { 
	.product {
		width: calc(50% - 30px);
		margin: 15px;	
	}
}

@media (max-width: 767px) { 
	.product {
		width: calc(100% - 30px);
		margin: 15px;	
	}
}

.order__btn {
	margin:  0 auto;
}

.product__footer .btn {
	width: 100%;
	padding-left: 0; 
	padding-right: 0;
	text-transform: uppercase; 
}

.product__wrap.product__wrap-1,
.product__wrap.product__wrap-2 {
	display: none;
}

.product__wrap.product__wrap-2 {
    padding-bottom: 39px;
    background-color: #fafafa;
}

.product__wrap-1.active,
.product__wrap-2.active {
	display: block;
    height: 560px;
}

.product__nabor {
	max-width: 262px;
	margin: 0 auto;
	margin-top: 27px;
}

.product__nabor-row {
	overflow: hidden;
	font-size: 13px;
}

.product__nabor-col:last-child {
	float: right;
}
.product__nabor-col:first-child {
	float: left;
}

.product__sign {
	text-align: center;
    margin: 39px 0;
    color: #898989;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product__sign-lactose {
  background-image: url("../icons/lactose.svg");
}
.product__sign-gluten {
  background-image: url("../icons/gluten.svg");
}
.product__sign-sugar {
  background-image: url("../icons/sugar.svg");
}
.product__sign-gmo {
  background-image: url("../icons/gmo.svg");
}

.product__sign-row {
	text-align: center;
    margin-bottom: 42px;
}

.product__sign-item {
	display: inline-block;
	vertical-align: top;
	width: 40px;
    height: 40px;
    margin: 10px 14px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.product__link-more {
	display: inline-block;
	padding: 20px 40px;
	margin: 20px auto;
	margin-bottom: 0;
	text-transform: uppercase;
	color: #383838;
	border-bottom: 1px solid #c6c6c6;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.product__link-more:hover {
	color: #689f38;
    border-bottom: 1px solid #689f38;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.order-btn:hover {
    background-color: #1e88e5;
    color: #fff;
}
.order-btn {
	display: inline-block;
	vertical-align: top;
	margin: 20px 0;
	margin-bottom: 50px;
    position: relative;
    padding: 15px 60px;
    background-color: #179aea;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12) !important;
}

.page-products .page-content {
	padding-top: 0
}

@media only screen and (max-width: 480px) {
	.order-btn {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		text-align: center;
	}
}

.select-valume {
	font-size: 15px;
	color: #383838;
}

.select-valume input {
	display: none;
}

.select-valume label {
	margin: 0 21px;
}

.select-valume label span {
	cursor: pointer;
}

.select-valume input:checked + span {
	color: #689f38;
}

.product__h6 {
    font-size: 10px;
    color: #898989;
    text-transform: uppercase;
    margin-bottom: 12px;
    letter-spacing: 1.2px;
}

.product__h4 {
	font-size: 15px;
	color: #898989;
	margin-bottom: 8px;
}

.product__h5 {
	color: #898989;
	font-size: 13px;
	font-weight: 500;
}

.product__h6--select-valume {
	margin-bottom: 10px;
}

.product-item .amount-wrap {
	padding: 20px 0 0px 0;
}

.product__img {
	text-align: center;
	height: 226px;
	line-height: 226px;
	margin-bottom: 31px;
}

.product-item .product__title {
	margin-bottom: 6px;
}

.product-item .product__sub-title {
	margin-bottom: 32px;
}

.product-item .product__desc {
	line-height: 16px;
	color: #383838;
	font-size: 13px;
	/*height: 64px;*/
	overflow: hidden;
}

.product__title-2 {
	font-size: 80px;
	font-weight: 900;
    line-height: 68px;
    margin-bottom: 35px;
	color: #383838;
}

.product-item .product__sign {
    margin-top: 32px;
}

.product-item .product__sign-row {
    margin-bottom: 33px;
}

.tab__link.active {
    background-color: #689f38;
    color: #fff;
    border: none;
}

@media screen and (max-width: 1310px) {
	.likearts-content .tab-panel__controls {
		width: 90%;
	}
	.page-products .tab__link {
		padding: 20px;
		border: none !important;
	}
}
@media screen and (max-width: 1024px) {
	.likearts-content .tab-panel__controls {
		width: 100%;
	}
}

@media screen and (max-width: 560px) {
	.tab__link {
		padding: 20px 15px !important;
	}
}

@media screen and (max-width: 640px) {
	.likearts-content .tab-panel__controls {
		-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12) !important;
		box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12) !important;
		padding: 0;
	}
}


@media screen and (max-width: 500px) {
	.likearts-content .tab-panel__controls {
		box-shadow: none !important;
		padding: 0;
	}
	.tab__link,
	.tabs__caption,
	.bg500  {
		display: block !important;
		background-color: #eeeeee !important;
	}
	.tabs__caption,
	.bg500 {
		margin-left: -15px;
		margin-right: -15px;
		padding: 0 15px;
		width: auto !important;
	}
	.tabs__caption  {
		padding-bottom: 30px !important;
	}
	.bg500 .order-btn {
		margin-bottom: 30px;
	}
	.tab__link.active {
		color: #689f38 !important;
	}
	.tab__link {
		padding: 10px 15px !important;
	}
}



.likearts-content .products-page-container .banner {
    width: 100%;
    height: auto;
    min-height: 450px;
}

.course-img {
    position: relative;
}

.captextin { 
	position: absolute; 
	top: calc(50% - 25px); 
	display: inline-block; 
	vertical-align: middle; 
	width: 50px; 
	height: 50px; 
	margin-right: -50px;
}
.captext { 
		-moz-transform: rotate(-90deg) translateX(-50%); 
		-ms-transform: rotate(-90deg) translateX(-50%);  
		-webkit-transform: rotate(-90deg) translateX(-50%); 
		-o-transform: rotate(-90deg) translateX(-50%); 

		transform: rotate(-90deg) translateX(-50%); 
		transform-origin: left; 
		display: inline-block; 
		/* vertical-align: middle; */ 
		/* width: 0; */ 
		/* height: 0; */ 
		position: absolute; 
		top: 0; 
		/* right: 5px; */ 
		font-size: 50px; 
		font-weight: 900; 
		color: #cccccc; 
		left: 25px; 
		line-height: 50px; 
		text-transform: uppercase; 
}


.order-information .tab__link {
	padding: 0;
	margin: 0;
	background: transparent;
	text-transform: none;
	margin-right: 50px;
	color: #383838;
	font-size: 25px;
    margin-bottom: 22px;
}

.order-information .tabs__caption {
    margin-bottom: 66px;
    border-bottom: 1px solid #e0e0e0;
}

.order-information .tab__content {
	margin-bottom: 50px;
	border-bottom: 1px solid #e0e0e0;
}

.text-right {
    text-align: right;
    min-height: 50px;
}


.popup-box {
    position: absolute;
    border-radius: 5px;
    background: #fff;
    display: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    z-index: 9999999;
    font-size: 14px;
}
 
.popup-box .close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold;
    cursor: pointer;
    color: #434343;
    padding: 20px;
    font-size: 20px;
}
 
.popup-box .close:hover {
    color: #000;
}
 
.popup-box h2 {
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.popup-box .top {
    padding: 20px;
}
 
.popup-box .bottom {
    background: #eee;
    border-top: 1px solid #e5e5e5;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
 
#blackout {
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 999999;
    left: 0;
    display: none;
}








/*  ======================================================================
    	BASIC ELEMENTS: MODAL WINDOW
========================================================================== */
.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 400px;
    width: 100%;
    min-width: 320px;
    z-index: 2000;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

@media only screen and (max-height: 620px) {
	.md-modal {
		overflow: auto;
		height: 100%;
	}
}

@media only screen and (max-width: 400px) {
	.md-modal {
		top: 0;
		left: 0;
		-webkit-transform: translateX(0%) translateY(0%);
       	   -moz-transform: translateX(0%) translateY(0%);
       		-ms-transform: translateX(0%) translateY(0%);
            	transform: translateX(0%) translateY(0%);
	}	
}

.md-show {
    visibility: visible;
}

/*--------- Modal Window - Close ---------*/
.md-close {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 28px;
    height: 28px;
    padding: 5px;
    border: 2px solid #353535;
    border-radius: 50%;
    text-decoration: none;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    cursor: pointer;
}

.md-close svg {
    display: block;
    fill: #353535;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
}

.md-close:hover svg {
    fill: #f00;
}

/*--------- Modal Window - Overlay ---------*/
.md-overlay {
    position: fixed;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    background: #000;
    cursor: pointer;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.md-overlay.md-show {
    opacity: .6;
    visibility: visible;
}

/*--------- Modal Window - Animation window ---------*/
.md-modal .md-content {
    opacity: 0;
    -webkit-transform: scale(0.7);
       -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.md-show.md-modal .md-content {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

/*--------- Modal Window - Content ---------*/
.md-top {
    margin-bottom: 18px;
}

.md-content {
    position: relative;
    background-color: #fff;
    color: #434343;
    padding: 35px 30px 21px 30px;
    max-width: 400px;
    border-top: 5px solid #689f38;
}

.md-title {
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 500;
    color: #383838;
}

.md-form input {
	display: block;
	width: 100%;
	height: 50px;
	padding: 0 12px;
	margin-bottom: 10px;
	font-size: 14px;
	border: 1px solid #e1e1e1;
	font-weight: 300;
	color: #999;
    -webkit-transition: all .25s;
       -moz-transition: all .25s;
            transition: all .25s;
}

.md-form input:focus {
	outline: none;
	border-color: #383838;
}

.md-form .btn {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.md-b {
	overflow: hidden;
}

.md-b a {
	font-size: 13px;
	font-weight: 500;
	color: #383838;
}

.md-b a:hover {
	text-decoration: underline;
}

.md-form .md-input-phone {
	font-size: 20px !important;
	font-weight: 500 !important;
}

.md-form .md-input-phone::-webkit-input-placeholder {font-weight: 300 !important; font-size: 14px !important;}
.md-form .md-input-phone::-moz-placeholder          {font-weight: 300 !important; font-size: 14px !important;}/* Firefox 19+ */
.md-form .md-input-phone:-moz-placeholder           {font-weight: 300 !important; font-size: 14px !important;}/* Firefox 18- */
.md-form .md-input-phone:-ms-input-placeholder      {font-weight: 300 !important; font-size: 14px !important;}

.lk-social-media span {
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: #383838;
}

.lk-social-media__list {
	padding: 0;
	margin: 18px -10px;
	list-style: none;
	font-size: 0;
}

.lk-social-media__list li {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0 10px;
	font-size: 14px;
}

.lk-social-media__list li a {
	display: block;
	text-decoration: none !important;
	color: #383838;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
}

.lk-social-media__list li a:hover {
	opacity: 0.7;
}

.icon {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 39px;
	height: 39px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
    		background-size: cover;
}

.icon-bg {
    background-image: url(../icons/lt--b.svg);
}
.icon-fb {
    background-image: url(../icons/fb--b.svg);
}
.icon-in {
	background-image: url(../icons/ig--b.svg);
}
.icon-yt {
	background-image: url(../icons/yt--b.svg);
}
.icon-go {
	background-image: url(../icons/gl--b.svg);
}
.icon-vk {
	background-image: url(../icons/vk--b.svg);
}

@media only screen and (max-width: 480px) {
	.md-title {
		font-size: 34px;
	}
}
@media only screen and (max-width: 400px) {
	.lk-social-media__list li {
		margin: 0 5px;
	}
}


























































































































































































































































































