@font-face {
	font-family: 'Museo Sans Cyrl 300';
	font-style: normal;
	font-weight: normal;
	src: local('Museo Sans Cyrl 300'), url('../font/MuseoSansCyrl_0.woff') format('woff');
}

@font-face {
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: normal;
	src: local('Museo Sans Cyrl 500'), url('../font/MuseoSansCyrl_1.woff') format('woff');
}

@font-face {
	font-family: 'Museo Sans Cyrl 700';
	font-style: normal;
	font-weight: normal;
	src: local('Museo Sans Cyrl 700'), url('../font/MuseoSansCyrl_2.woff') format('woff');
}

@font-face {
	font-family: 'Museo Sans Cyrl 900';
	font-style: normal;
	font-weight: normal;
	src: local('Museo Sans Cyrl 900'), url('../font/MuseoSansCyrl_3.woff') format('woff');
}