div#auth-modal {
    overflow-y: hidden !important;
}
div#auth-modal-reg {
    overflow-y: hidden !important;
}
.services .services-header {
  background: #689f38;
  padding: 75px 0px;
}
.services .services-header .title {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.services .services-header .services-header-item {
  text-align: center;
  margin: 55px 0 0 0;
  padding: 0 10px;
}
.services .services-header .services-header-item > i {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}
.services .services-header .services-header-item > i.services-header-item1-icon {
  background-image: url('../img/services/analiz-icon.png');
}
.services .services-header .services-header-item > i.services-header-item2-icon {
  background-image: url('../img/services/octor-icon.png');
}
.services .services-header .services-header-item > i.services-header-item3-icon {
  background-image: url('../img/services/bolnich-icon.png');
}
.services .services-header .services-header-item > i.services-header-item4-icon {
  background-image: url('../img/services/deliv-icon.png');
}
.services .services-header .services-header-item > .text {
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.services .all-services {
  background: #ebeee8;
  padding: 60px 0;
}
.services .all-services .title {
  font-size: 36px;
  color: #689f38;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.services .all-services .title-desc {
  font-size: 24px;
  display: block;
  text-align: center;
  color: #689f38;
  font-weight: 400;
}
.services .all-services .all-services-content .all-services-item {
  padding: 0 0 0 100px;
  margin: 35px 0 0 0;
  min-height: 90px;
}
.services .all-services .all-services-content .all-services-item i {
  height: 87px;
  display: inline-block;
  width: 72px;
  vertical-align: top;
  position: absolute;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
}
.services .all-services .all-services-content .all-services-item i.all-services-item1-icon {
  background-image: url('../img/services/serv-ico-5.png');
}
.services .all-services .all-services-content .all-services-item i.all-services-item2-icon {
  background-image: url('../img/services/serv-ico-4.png');
}
.services .all-services .all-services-content .all-services-item i.all-services-item3-icon {
  background-image: url('../img/services/serv-ico-3.png');
}
.services .all-services .all-services-content .all-services-item i.all-services-item4-icon {
  background-image: url('../img/services/serv-ico-7.png');
}
.services .all-services .all-services-content .all-services-item i.all-services-item5-icon {
  background-image: url('../img/services/serv-ico-6.png');
}
.services .all-services .all-services-content .all-services-item i.all-services-item6-icon {
  background-image: url('../img/services/serv-ico-2.png');
}
.services .all-services .all-services-content .all-services-item i.all-services-item7-icon {
  background-image: url('../img/services/serv-ico-1.png');
}
.services .all-services .all-services-content .all-services-item .services-item-title {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  display: inline-block;
  line-height: 24px;
  margin: 10px 0 0 0;
  text-decoration: none;
}
.services .all-services .all-services-content .all-services-item .services-item-title.active {
  font-weight: 700;
}
.services .all-services .all-services-content .all-services-item .services-item-title:hover {
  color: #689f38;
}
.services .all-services .all-services-content .all-services-item .services-item-content {
  display: none;
  margin: 30px 0 0 0;
  padding: 0 70px 0 0;
}
.services .all-services .all-services-content .all-services-item .services-item-content .text,
.services .all-services .all-services-content .all-services-item .services-item-content .price {
  font-size: 18px;
  color: #333333;
}
.services .all-services .all-services-content .all-services-item .services-item-content .services-item-content-col {
  width: 75%;
  float: left;
}
.services .all-services .all-services-content .all-services-item .services-item-content .services-item-content-col + .services-item-content-col {
  width: 25%;
  float: left;
  text-align: right;
  
}
.services .all-services .all-services-content .all-services-item .services-item-content .download-button {
  font-size: 18px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  color: #333333;
  background: none;
  border: 2px solid #333333;
  padding: 8px 50px 11px;
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 20px 0 0 0;
}
.services .all-services .all-services-content .all-services-item .services-item-content .download-button:hover {
  background: #333333;
  color: #fff;
}
.services .services-discount {
  background: #fff;
  padding: 70px 0;
}
.services .services-discount .title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #689f38;
}
.services .services-discount .services-discount-item {
  margin: 50px 0 0 0;
}
.services .services-discount .services-discount-item .services-discount-perc span {
  font-size: 60px;
  color: #fe2828;
  font-weight: 700;
  line-height: 60px;
}
.services .services-discount .services-discount-item .services-discount-for-who span {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  display: block;
  margin: 10px 0 0 0;
}
.services .services-discount .services-discount-item .services-discount-for-who span + span {
  margin: 15px 0 0 0;
}
.services .services-discount .get-price {
  color: #fe2828;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin: 75px auto 0;
  border: 2px solid #fe2828;
  width: 327px;
  padding: 7px 0 10px;
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services .services-discount .get-price:hover {
  background: #fe2828;
  color: #fff;
}
.services + .question {
  margin: 0px;
}
@media (max-width: 991px) {
  .services .services-header .title {
    font-size: 30px;
  }
  .services .services-header {
    padding: 45px 0;
  }
  .services .services-header .services-header-item > i {
    width: 90px;
    height: 60px;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
  }
  .services .services-header .services-header-item > .text {
    margin: 20px 0 0 0;
    font-size: 16px;
  }
  .services .all-services .title {
    font-size: 30px;
  }
  .services .all-services {
    padding: 45px 0;
  }
  .services .all-services .title-desc {
    font-size: 18px;
  }
  .services .all-services .all-services-content .all-services-item .services-item-title {
    font-size: 18px;
  }
  .services .all-services .all-services-content .all-services-item .services-item-content .text,
  .services .all-services .all-services-content .all-services-item .services-item-content .price {
    font-size: 14px;
  }
  .services .all-services .all-services-content .all-services-item .services-item-content {
    padding: 0;
  }
  .services .all-services .all-services-content .all-services-item .services-item-content .download-button {
    font-size: 14px;
    display: block;
    padding: 10px 0px 11px;
  }
  .services .services-discount .title {
    font-size: 30px;
  }
  .services .services-discount {
    padding: 45px 0;
  }
  .services .services-discount .services-discount-item .services-discount-perc span {
    font-size: 48px;
  }
  .services .services-discount .services-discount-item .services-discount-for-who span {
    font-size: 16px;
  }
  .services .services-discount .services-discount-item .services-discount-for-who span + span {
    margin: 10px 0 0 0;
  }
  .services .services-discount .get-price {
    font-size: 16px;
    margin: 40px 0 0 0;
  }
}
@media (max-width: 767px) {
  .services .services-header {
    padding: 30px 0 ;
  }
  .services .services-header .title {
    font-size: 20px;
  }
  .services .services-header .services-header-item {
    margin: 20px 0 0 0;
  }
  .services .all-services {
    padding: 30px 0;
  }
  .services .all-services .title {
    font-size: 20px;
  }
  .services .all-services .title-desc {
    font-size: 14px;
  }
  .services .all-services .all-services-content .all-services-item .services-item-title {
    margin: 0;
  }
  .services .all-services .all-services-content .all-services-item {
    padding: 0px 0 0 75px;
  }
  .services .services-discount .get-price {
    width: 100%;
  }
  .services .all-services .all-services-content .all-services-item {
    min-height: 80px;
  }
  .services .services-discount .title {
    font-size: 20px;
  }
  .services .services-discount {
    padding: 30px 0;
  }
  .services .services-discount .services-discount-item .services-discount-perc span {
    font-size: 40px;
  }
  .services .services-discount .services-discount-item {
    margin: 10px 0 0 0;
  }
  .services .services-discount .get-price {
    font-size: 14px;
    padding: 7px 0 7px ;
  }
}
.partners + .question {
  margin: 0 0 0 0 ;
}
.partners .partners-header {
  min-height: 320px;
  background: url('../img/partners/header-image.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.partners .partners-header .title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 125px 0 0 0;
  display: block;
  text-align: center;
}
.partners .download-medical {
  margin: 35px 0 0 0;
  text-align: center;
}
.partners .download-medical .download-medical-icon {
  display: block;
  width: 64px;
  height: 64px;
  background-image: url('../img/partners/download-icon.png');
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0 auto 10px;
}
.partners .download-medical a {
  color: #009933;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  display: block;
}
.partners .sotrud-article {
  margin: 55px 0 55px 0;
}
.partners .sotrud-article .title {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}
.partners .sotrud-article ul{
  margin-left: 20px;
}
.partners .sotrud-article .sotrud-article-icons {
  text-align: center;
}
.partners .sotrud-article .sotrud-article-icons .text {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}
.partners .sotrud-article .sotrud-article-icons .sotrud-article-icons-item {
  margin: 55px 0 0 0;
}
.partners .sotrud-article .sotrud-article-icons i {
  display: inline-block;
  width: 74px;
  height: 74px;
  background-position: center center;
  background-repeat: no-repeat;
}
.partners .sotrud-article .sotrud-article-icons i.sotrud-article-icon-1 {
  background-image: url('../img/partners/icon-4.png');
}
.partners .sotrud-article .sotrud-article-icons i.sotrud-article-icon-2 {
  background-image: url('../img/partners/icon-5.png');
}
.partners .sotrud-article .sotrud-article-icons i.sotrud-article-icon-3 {
  background-image: url('../img/partners/icon-3.png');
}
.partners .sotrud-article .sotrud-article-icons i.sotrud-article-icon-4 {
  background-image: url('../img/partners/icon-1.png');
}
.partners .sotrud-article .sotrud-article-icons i.sotrud-article-icon-5 {
  background-image: url('../img/partners/icon-6.png');
}
.partners .sotrud-article .sotrud-article-icons i.sotrud-article-icon-6 {
  background-image: url('../img/partners/icon-2.png');
}
.partners .sotrud-article .sotrud-text-tabs {
  margin: 35px 0 0 0;
}
.partners .sotrud-article .sotrud-text-tabs .sotrud-text-tab-item {
  margin: 35px 0 0 0;
}
.partners .sotrud-article .sotrud-text-tabs .sotrud-text-tab-item .title {
  font-size: 21px;
  color: #009933;
  text-transform: uppercase;
  font-weight: 700;
}
.partners .sotrud-article .sotrud-text-tabs .sotrud-text-tab-item .text {
  font-size: 18px;
  color: #333333;
  font-weight: 400;
  display: block;
  margin: 30px 0 0 0;
}
.partners .sotrud-article .sub-title {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #689f38;
  margin: 35px 0 0 0;
}
.partners .sotrud-article .sotrud-article-contacts {
  margin: 35px 0 0 0;
}
.partners .sotrud-article .sotrud-article-contacts .sotrud-article-contact-item {
  position: relative;
  min-height: 69px;
  padding: 0 0 0 90px;
}
.partners .sotrud-article .sotrud-article-contacts .sotrud-article-contact-item i {
  width: 69px;
  height: 69px;
  display: block;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}
.partners .sotrud-article .sotrud-article-contacts .sotrud-article-contact-item i.sotrud-article-contact-ico-1 {
  background-image: url('../img/partners/icon-7.png');
}
.partners .sotrud-article .sotrud-article-contacts .sotrud-article-contact-item i.sotrud-article-contact-ico-2 {
  background-image: url('../img/partners/icon-8.png');
}
.partners .sotrud-article .sotrud-article-contacts .sotrud-article-contact-item .text {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  display: block;
  padding: 20px 0 0 0;
}
@media (max-width: 1199px) {
  .partners .sotrud-article .sotrud-article-icons .sotrud-article-icons-item {
    min-height: 130px;
  }
}
@media (max-width: 991px) {
  .partners .partners-header {
    min-height: 212px;
  }
  .partners .partners-header .title {
    font-size: 36px;
    padding: 85px 0 0 0;
  }
  .partners .sotrud-article .title {
    font-size: 24px;
  }
  .blog-menu {
    margin: 25px 0 0 0;
  }
  .partners .sotrud-article .sotrud-article-icons i {
    width: 55px;
    height: 55px;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
  }
  .partners .sotrud-article .sotrud-article-icons .text {
    font-size: 16px;
  }
  .partners .sotrud-article {
    margin: 20px 0;
  }
  .partners .sotrud-article .sotrud-article-icons .sotrud-article-icons-item {
    min-height: 110px;
  }
  .partners .sotrud-article .sotrud-article-icons .sotrud-article-icons-item {
    margin: 35px 0 0 0;
  }
  .partners .sotrud-article .sotrud-text-tabs .sotrud-text-tab-item .title {
    font-size: 18px;
  }
  .partners .sotrud-article .sotrud-text-tabs .sotrud-text-tab-item .text {
    font-size: 14px;
  }
  .partners .sotrud-article .sotrud-text-tabs {
    margin: 10px 0 0 0;
  }
  .partners .sotrud-article .sotrud-text-tabs .sotrud-text-tab-item {
    margin: 20px 0 0 0;
  }
  .partners .sotrud-article .sotrud-text-tabs .sotrud-text-tab-item .text {
    margin: 20px 0 0 0;
  }
  .partners .sotrud-article .sub-title {
    font-size: 21px;
  }
  .partners .sotrud-article .sotrud-article-contacts .sotrud-article-contact-item .text {
    font-size: 16px;
  }
  .partners .sotrud-article .sotrud-article-contacts .sotrud-article-contact-item i {
    width: 50px;
    height: 55px;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }
  .partners .sotrud-article .sotrud-article-contacts .sotrud-article-contact-item {
    padding: 0 0 0 70px;
  }
  .partners .sotrud-article .sotrud-article-contacts .sotrud-article-contact-item .text {
    padding: 14px 0 0 0;
  }
  .partners .sotrud-article .sotrud-text-tabs .sotrud-text-tab-item .title {
    display: block;
    min-height: 50px;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .partners .sotrud-article .sotrud-text-tabs .sotrud-text-tab-item .title {
    min-height: 0;
  }
  .partners .sotrud-article .sotrud-text-tabs {
    margin: 0;
  }
  .partners .sotrud-article .sub-title {
    font-size: 18px;
  }
  .partners .sotrud-article .sotrud-article-contacts {
    margin: 10px 0 0 0;
  }
  .partners .download-medical {
    margin: 25px 0;
  }
}
.production .production-header {
  position: relative;
  min-height: 320px;
  background: url('../img/production/production-header.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.production .production-header:after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.production .production-header .container {
  position: relative;
  z-index: 2;
}
.production .production-header .wrapp-table {
  width: 100%;
  height: 320px;
  vertical-align: middle;
  display: table;
}
.production .production-header .wrapp-cell {
  width: 100%;
  height: 320px;
  vertical-align: middle;
  display: table-cell;
}
.production .production-header .title {
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.production .production-header .subtitle {
  font-size: 21px;
  color: #fff;
  font-weight: 400;
  vertical-align: middle;
  text-align: center;
  display: block;
  margin: 30px 0 0 0;
}
.production .production-content {
  padding: 0 0 50px 0;
}
.production .production-content .production-content-tab-item {
  position: relative;
  display: inline-block;
  width: 49.0999%;
  vertical-align: top;
  padding: 0 15px 0 115px;
  margin: 70px 0 0 0;
}
.production .production-content .production-content-tab-item .title {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color: #009933;
}
.production .production-content .production-content-tab-item .text {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  display: block;
  margin: 30px 0 0 0;
}
.production .production-content .production-content-tab-item i {
  width: 75px;
  height: 75px;
  position: absolute;
  background-position: top center;
  background-repeat: no-repeat;
  left: 15px;
}
.production .production-content .production-content-tab-item i.production-content-tab-icon-1 {
  background-image: url('../img/production/icon4.png');
}
.production .production-content .production-content-tab-item i.production-content-tab-icon-2 {
  background-image: url('../img/production/icon2.png');
}
.production .production-content .production-content-tab-item i.production-content-tab-icon-3 {
  background-image: url('../img/production/icon3.png');
}
.production .production-content .production-content-tab-item i.production-content-tab-icon-4 {
  background-image: url('../img/production/icon1.png');
}
.production .production-slider {
  margin: 40px 0 0 0;
}
.production .production-slider .carousel .carousel-control.left {
  background: rgba(0, 0, 0, 0.5);
  width: 10%;
}
.production .production-slider .carousel .carousel-control.right {
  background: rgba(0, 0, 0, 0.5);
  width: 10%;
}
.production .production-slider .carousel .left-ico,
.production .production-slider .carousel .right-ico {
  display: block;
  width: 15px;
  height: 23px;
  background: url('../img/clinic-slideshow-arrows.png') 0px -25px no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 50%;
  margin-left: -7px;
}
.production .production-slider .carousel .right-ico {
  background: url('../img/clinic-slideshow-arrows.png') 0px 0px no-repeat;
}
.production .production-slider img {
  width: auto;
  height: 550px;
  max-height: 550px;
  display: inline-block;
}
.production .production-slider .item {
  text-align: center;
}
.production .production-slider .slider-caption {
  margin: 25px 0 0 0;
}
.production .production-slider .slider-caption .slider-caption-text {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  color: #333333;
}
@media (max-width: 991px) {
  .production .production-header {
    min-height: 280px;
  }
  .production .production-header .wrapp-table {
    height: 280px;
  }
  .production .production-header .wrapp-cell {
    height: 280px;
  }
  .production .production-header .title {
    font-size: 30px;
  }
  .production .production-header .subtitle {
    font-size: 18px;
    margin: 25px 0 0 0;
  }
  .production .production-content .production-content-tab-item i {
    width: 60px;
    height: 70px;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }
  .production .production-content .production-content-tab-item {
    padding: 0 15px 0 90px;
    margin: 35px 0 0 0;
  }
  .production .production-slider img {
    height: 415px;
    max-height: 415px;
  }
  .production .production-slider {
    margin: 25px 0 0 0;
  }
  .production .production-slider .slider-caption .slider-caption-text {
    font-size: 13px;
  }
  .production .production-content {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .production .production-header .title {
    font-size: 21px;
    margin: 10px 0 0 0;
  }
  .production .production-header .subtitle {
    font-size: 14px;
  }
  .production .production-header .subtitle {
    margin: 10px 0 0 0;
  }
  .production .production-content .production-content-tab-item {
    width: 100%;
  }
  .production .production-content .production-content-tab-item {
    padding: 0 0 0 60px;
  }
  .production .production-content .production-content-tab-item .title {
    font-size: 18px;
  }
  .production .production-content .production-content-tab-item .text {
    font-size: 14px;
    margin: 20px 0 0 0;
  }
  .production .production-content .production-content-tab-item {
    margin: 30px 0 0 0;
  }
  .production .production-content .production-content-tab-item i {
    width: 50px;
    height: 60px;
    left: 0;
  }
  .production .production-header {
    padding: 0 0 10px 0;
  }
  .production .production-slider img {
    height: 170px;
    min-height: 170px;
  }
  .production .production-slider .slider-caption {
    margin: 15px 0 0 0;
  }
  .production .production-content {
    padding: 0 0 15px 0;
  }
}
.green-modal {
  background: rgba(0, 0, 0, 0.25);
}
.green-modal .modal-dialog {
  width: 430px;
  border-top: 5px solid #009933;
}
.green-modal .modal-content {
  border-top: 0px;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  position: relative;
}
.green-modal .close {
  position: absolute;
  right: 4px;
  top: 4px;
  opacity: 0.5;
}
.green-modal .close:hover {
  opacity: 1;
}
.green-modal .modal-body .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #009933;
}
.green-modal .modal-body input,
.green-modal .modal-body textarea {
  height: 33px;
  width: 100%;
  border: 2px solid #009933;
  margin: 29px 0 0 0;
  padding: 0 0 0 10px;
}
.green-modal .modal-body textarea {
  resize: none;
  min-height: 125px;
  padding: 5px 10px;
}
.green-modal .modal-body ::-webkit-input-placeholder {
  color: #b8b8b8;
  font-weight: 700;
}
.green-modal .modal-body :-moz-placeholder {
  /* Firefox 18- */
  color: #b8b8b8;
  font-weight: 700;
}
.green-modal .modal-body ::-moz-placeholder {
  /* Firefox 19+ */
  color: #b8b8b8;
  font-weight: 700;
}
.green-modal .modal-body :-ms-input-placeholder {
  color: #b8b8b8;
  font-weight: 700;
}
.green-modal .modal-body button {
  width: 217px;
  height: 46px;
  background: #009933;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: 0px;
  display: block;
  margin: 25px auto 15px;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.green-modal .modal-body button:hover {
  background: #000;
}
.mobile-slidedown-form {
  display: none;
}
.mobile-slidedown-form input,
.mobile-slidedown-form textarea {
  height: 33px;
  width: 100%;
  border: 2px solid #009933;
  margin: 29px 0 0 0;
  padding: 0 0 0 10px;
}
.mobile-slidedown-form ::-webkit-input-placeholder {
  color: #b8b8b8;
  font-weight: 700;
}
.mobile-slidedown-form :-moz-placeholder {
  /* Firefox 18- */
  color: #b8b8b8;
  font-weight: 700;
}
.mobile-slidedown-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #b8b8b8;
  font-weight: 700;
}
.mobile-slidedown-form :-ms-input-placeholder {
  color: #b8b8b8;
  font-weight: 700;
}
.mobile-slidedown-form button {
  width: 217px;
  background: #009933;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: 0px;
  display: block;
  margin: 25px auto 15px;
  padding: 5px 0 8px;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mobile-slidedown-form button:hover {
  background: #000;
}
.mobile-slidedown-form textarea {
  resize: none;
  min-height: 125px;
  padding: 5px 10px;
}




/*  ======================================================================
    	BASIC ELEMENTS: MODAL WINDOW
========================================================================== */
.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 400px;
    width: 100%;
    min-width: 320px;
    z-index: 2000;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

@media only screen and (max-height: 620px) {
	.md-modal {
		overflow: auto;
		height: 100%;
	}
}

@media only screen and (max-width: 400px) {
	.md-modal {
		top: 0;
		left: 0;
		-webkit-transform: translateX(0%) translateY(0%);
       	   -moz-transform: translateX(0%) translateY(0%);
       		-ms-transform: translateX(0%) translateY(0%);
            	transform: translateX(0%) translateY(0%);
	}	
}

.md-show {
    visibility: visible;
}

/*--------- Modal Window - Close ---------*/
.md-close {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 28px;
    height: 28px;
    padding: 5px;
    border: 2px solid #353535;
    border-radius: 50%;
    text-decoration: none;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    cursor: pointer;
}

.md-close svg {
    display: block;
    fill: #353535;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
}


/*--------- Modal Window - Overlay ---------*/
.md-overlay {
    position: fixed;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    background: #000;
    cursor: pointer;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.md-overlay.md-show {
    opacity: .6;
    visibility: visible;
}

/*--------- Modal Window - Animation window ---------*/
.md-modal .md-content {
    opacity: 0;
    -webkit-transform: scale(0.7);
       -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.md-show.md-modal .md-content {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

/*--------- Modal Window - Content ---------*/
.md-top {
    margin-bottom: 18px;
}

.md-content {
    position: relative;
    background-color: #fff;
    color: #434343;
    padding: 35px 30px 21px 30px;
    max-width: 400px;
    border-top: 5px solid #689f38;
}

.md-title {
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 500;
    color: #383838;
}

.md-form input {
	display: block;
	width: 100%;
	height: 50px;
	padding: 0 12px;
	margin-bottom: 10px;
	font-size: 14px;
	border: 1px solid #e1e1e1;
	font-weight: 300;
	color: #999;
    -webkit-transition: all .25s;
       -moz-transition: all .25s;
            transition: all .25s;
}

.md-form input:focus {
	outline: none;
	border-color: #383838;
}

.md-form .btn {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.md-b {
	overflow: hidden;
}

.md-b a {
	font-size: 13px;
	font-weight: 500;
	color: #383838;
}

.md-b a:hover {
	text-decoration: underline;
}

.md-form .md-input-phone {
	font-size: 20px !important;
	font-weight: 500 !important;
}

.md-form .md-input-phone::-webkit-input-placeholder {font-weight: 300 !important; font-size: 14px !important;}
.md-form .md-input-phone::-moz-placeholder          {font-weight: 300 !important; font-size: 14px !important;}/* Firefox 19+ */
.md-form .md-input-phone:-moz-placeholder           {font-weight: 300 !important; font-size: 14px !important;}/* Firefox 18- */
.md-form .md-input-phone:-ms-input-placeholder      {font-weight: 300 !important; font-size: 14px !important;}

.lk-social-media span {
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: #383838;
}

.lk-social-media__list {
	padding: 0;
	margin: 18px -10px;
	list-style: none;
	font-size: 0;
}

.lk-social-media__list li {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0 10px;
	font-size: 14px;
}

.lk-social-media__list li a {
	display: block;
	text-decoration: none !important;
	color: #383838;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
}

.lk-social-media__list li a:hover {
	opacity: 0.7;
}

.icon {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 39px;
	height: 39px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
    		background-size: cover;
}

.icon-bg {
    background-image: url(../icons/lt--b.svg);
}
.icon-fb {
    background-image: url(../icons/fb--b.svg);
}
.icon-in {
	background-image: url(../icons/ig--b.svg);
}
.icon-yt {
	background-image: url(../icons/yt--b.svg);
}
.icon-go {
	background-image: url(../icons/gl--b.svg);
}
.icon-vk {
	background-image: url(../icons/vk--b.svg);
}

@media only screen and (max-width: 480px) {
	.md-title {
		font-size: 34px;
	}
}
@media only screen and (max-width: 400px) {
	.lk-social-media__list li {
		margin: 0 5px;
	}
}
.form button, 
.form input[type=submit],
.btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    padding: 16px 98px 14px 98px;
    margin: 0;
    border: none;
    border-radius: 0;
    outline: none !important;
    background-color: #689f38;
    font-size: 14px;
    font-weight: 700;
    color: #fff !important;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    text-decoration: none !important;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
    cursor: pointer;
}
