.select_label_item ul{
	display: inline-block;
    width: 100%;
    list-style: none;
	margin: 0;
	padding: 0;
}
.select_label_item ul li {
	display: inline-block;

}
.select_label_item .bx_active span{
    color: #689f38;
}
.product__discount a {color:#898989}
.product__discount a:hover {color:#898989}